
<md-dialog>
    <form>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <md-input-container flex="">
                    <label>New Name: </label>
                    <input ng-model="inputName"
                           required=""
                           name="inputName"
                           autocomplete="off"
                           type="text"
                           autofocus>
                </md-input-container>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <md-button ng-click="submit()" >
                ok
            </md-button>
            <span flex></span>

            <md-button ng-click="cancel()"  style="margin-right:20px;" >
                cancel
            </md-button>
        </div>
    </form>
</md-dialog>