/***************************************************************

CSS For ui-flowchart [left pane graph area]

***************************************************************/

/*
Styles for nodes and connectors.
*/

.node-rect {
	stroke: #aaaaaa;
	border-radius: 0px;
	stroke-width: 1;
}

.mouseover-node-rect {
	stroke: #777777;
	stroke-width: 2;
}

.selected-node-rect {
    fill:white;
	stroke: #555555;
	stroke-width: 3;
}

.connector-circle {
    fill: white;
    stroke: #777777;
    stroke-width: 2;
}

.mouseover-connector-circle {
    fill: white;
    stroke: #777777;
    stroke-width: 3;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
	stroke: #555555;
	stroke-width: 3;
	fill: transparent;
}	

.mouseover-connection-line {
	stroke: gray;
	stroke-width: 6;
	fill: transparent;
}	

.selected-connection-line {
	stroke: red;
	stroke-width: 4;
	fill: transparent;
}	

.connection-endpoint {
	fill: #555555;
}

.selected-connection-endpoint {
	fill: red;
}	

.mouseover-connection-endpoint {
	fill: gray;
}

/*
Style for the connection being dragged out.
*/

.dragging-connection {
	pointer-events: none;
}

.dragging-connection-line {
	stroke: gray;
	stroke-width: 3;
	fill: transparent;
}	

.dragging-connection-endpoint {
	fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
	border: solid 5px #aaaaaa;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: blue;
	stroke-width: 2;
	fill: transparent;
}