/***************************************************************

CSS For index.html

***************************************************************/


/**************************
 left pane graph area
 **************************/

.graph-area{
  background : #ffffff;
}
/* exact tab */
.graph-area .znpController{
   width:100%;
   height: 95%;
   position:relative;
}

/* exact tab */
.graph-area .panzoom{
    width:100%;
    height:900px;
}

/* exact tab */
.graph-area .flow-chart{
    width:4000px;
    height: 4000px
}

.graph-area .buttons{
    position: absolute;
    bottom: 10px;
}

.graph-area .codeEditor {
    height:650px;
    width: 100%;

}

/**************************
 middle pane 3D area
 **************************/

.view-area {
  background : #ffffff;
}

/*.view-area #viewport {*/
    /*position:relative;*/
    /*width:100%;*/
    /*height: 50%;*/
    /*bottom: 10px;*/
/*}*/

/*************************
right pane code area
*************************/

.code-area{
  background : #ffffff;
}

.code-area .buttons{
    position: absolute;
    bottom: 10px;
}

.code-area .codeEditor {
    height:650px;
    width:100%;
}



.code-area .tabArea{
    position: relative;
    left: 13px;
    max-width: 600px;
    height:100%;
    width: 100%;
    overflow: auto;
}

.code-area .panelHack {
    margin-bottom: -20px;
}

/* hack for ui-tree procedure tree structure*/
.angular-ui-tree-handle {
    background: #f8faff;
    border: 0px solid #dae2ea;
    color: #7c9eb2;
    padding: 0px 0px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* black thin frame for pan-zoom area [left pane graph area] */
.pan-zoom-frame {
    border: 1px solid #aaaaaa;
}
