/*  UI.Layout css for draggable and resizable layout */

.stretch {
    position: absolute;
    /*mobius*/
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    /* Can be changed by hand ;)*/
    overflow: hidden;
}

.ui-splitbar{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-justify-content: center;
    justify-content: center;

    background-color: #eee;
    right: auto;
    position: absolute;
    z-index: 50;
}

.ui-layout-row > .ui-splitbar{
    /*height: 5px;*/
    width: 100%;
    cursor: row-resize;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #0f0;*/
}
.ui-layout-column > .ui-splitbar{
    width: 5px;
    /*height: 100%;*/
    background-color: #eee;
    cursor: col-resize;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2px;
    /*border: 1px solid #0f0;*/
}

.ui-layout-column > .ui-splitbar > a{
    cursor: pointer;
    font-size: 9px;
    margin-top: 10px;
}

.ui-layout-row > .ui-splitbar > a {
    cursor: pointer;
    font-size: 9px;
    margin: 10px;
}
