<!DOCTYPE html>
<html ng-app="vidamo" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <title>Mobius</title>
    <!-- loading page -->
    <script  src="assets/js/packages/pace/pace.min.js"></script>
    <link href="assets/css/pace-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- stylesheet -->
    <link rel="stylesheet" href="assets/css/vidamo-layout.css">
    <link rel="stylesheet" href="assets/css/ui-layout.css">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/css/ui-tree.css">
    <link rel="stylesheet" href="assets/css/graph.css">
    <link rel="stylesheet" href="assets/css/select.css">
    <link rel="stylesheet" href="assets/css/xeditable.css">
    <link rel="stylesheet" href="assets/css/hotkeys.css">
    <link rel="stylesheet" href="assets/css/material.css">
    <link rel="stylesheet" href="assets/css/ui-grid/ui-grid.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
</head>

<body>
<div>

    <!-- dropdown Menu -->
    <div ng-controller="menuCtrl" class = "menubar">
        <span dropdown on-toggle="toggled(open)">
            <a style="color: #000" href dropdown-toggle>  File |</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="" ng-click="newScene($event)"> New Scene</a>
                </li>

                <li>
                    <input type="file" id="openSceneJson" name="files[]"
                           style="visibility: hidden; width: 1px; height: 1px" multiple
                           onchange="angular.element(this).scope().openSceneJson(this.files)"/>
                    <a href="" onclick="document.getElementById('openSceneJson').click()">Open Scene</a>
                </li>

                <li>
                    <a ng-href="{{sceneUrl}}" download="scene.json" ng-click = "saveSceneJson()" id= "saveSceneJson">
                        Save Scene
                    </a>
                </li>

                <li class="dropdown-submenu">
                    <a>
                        Load Example
                    </a>

                    <ul class="dropdown-menu">
                        <li><a ng-click="loadExample('Ex01_KillianRoof.json')"> Killian Roof </a></li>
                        <li><a ng-click="loadExample('Ex02_ParametricBrickWall.json')"> Parametric Brick Wall </a></li>
                        <li><a ng-click="loadExample('F2_Surface&CurvesPart1.json')"> Surface and Curves Part1 </a></li>
                        <li><a ng-click="loadExample('F0_Surface&CurvesPart2.json')"> Surface and Curves Part2 </a></li>
                        <li><a ng-click="loadExample('F3_Geometry_Part1.json')"> Geometry Part 1 </a></li>
                        <li><a ng-click="loadExample('F4_Geometry_Part2.json')"> Geometry Part 2 </a></li>
                        <li><a ng-click="loadExample('F5_SurfaceCurveAnalysisFunctions.json')"> Surface and Curves Analysis</a></li>
                        <li><a ng-click="loadExample('F6_CSGOperations.json')"> Solid Operations</a></li>
                        <li><a ng-click="loadExample('F7_ListOperations.json')"> List Operations</a></li>
                        <li><a ng-click="loadExample('F8_GeneralFunctions.json')"> General Functions</a></li>
                    </ul>



                </li>
            </ul>
        </span>

        <!--<span dropdown on-toggle="toggled(open)">-->
            <!--<a style="color: #000" href dropdown-toggle>  Edit |</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li>-->
                    <!--<a> Todo:Undo </a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a> Todo:Redo </a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</span>-->

        <span dropdown on-toggle="toggled(open)" >
              <a style="color: #000" href dropdown-toggle>  Node |</a>
              <ul class="dropdown-menu">
                  <li>
                      <input type="file" id="importNode"
                             style="visibility: hidden; width: 1px; height: 1px" multiple
                             onchange="angular.element(this).scope().importNode(this.files)"/>
                      <a href="" onclick="document.getElementById('importNode').click()"> Import Node </a>
                  </li>

                  <li>
                      <a ng-href="{{nodeUrl}}" download="node.json" ng-click = "exportNode()">
                          Export Node
                      </a>
                  </li>
              </ul>
        </span>

        <span dropdown on-toggle="toggled(open)" >
            <a style="color: #000" href dropdown-toggle>  Code |</a>
            <ul class="dropdown-menu">
                <li id = "downloadJs">
                    <a ng-href="{{jsUrl}}" download="project.js" ng-click = "downloadJs()">
                        Export Graph&Nodes
                    </a>
                </li>

                <li id = "downloadLib">
                    <a ng-href="{{libUrl}}" download="mobius.js" ng-click = "downloadLib()">
                        Export Function Library
                    </a>
                </li>
            </ul>
        </span>

        <span dropdown on-toggle="toggled(open)">
            <a style="color: #000" href dropdown-toggle>  Help </a>

            <ul class="dropdown-menu">
                <!--<li>-->
                    <!--<a> Todo:Help </a>-->
                <!--</li>-->
                <li>
                    <a href="https://github.com/phtj/vidamo" target="_blank"> Github Repo </a>
                </li>
                <li>
                    <a ng-click=" toggleCheatSheet();"> Hotkeys </a>
                </li>
                <li>
                    <a href="doc/MobiusHelp.html" target="_blank"> Docs </a>
                </li>
            </ul>
        </span>
        <span style="position:absolute;right:10px;top:5px;font-size: 12px;color:#555"> Mobius v0.1</span>
    </div>

    <!-- resizable layout -->
    <div ui-layout style="margin: 2px;
                        border:1px solid #aaaaaa;
                        border-radius: 4px;
                        top: 23px;"
            id="layout">
        <div ng-controller="layoutCtrl">
            <div class="layout-area" ui-layout="{flow : 'column'}" ng-controller="procedureCtrl">

                <!-- 3D view area  -->
                <div class=" view-area" ui-layout-container size={{viewportWidth}} id="viewport">
                    <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                        <!-- threejs editor view port -->
                        <div ui-layout-container size = "85%" style="z-index: 0">

                            <div ng-controller="viewportCtrl">

                                <span dropdown on-toggle="toggled(open)" style="left:5px;top:10px">

                                 <button class="btn btn-default btn-xs" dropdown-toggle style="    background: #ddd;">
                                     {{viewportControl.currentCate}}
                                     <span class="caret"></span>
                                 </button>

                                <ul class="dropdown-menu" >
                                    <!--<li class="divider"></li>-->
                                    <li class="dropdown-submenu">
                                        <a href="#"> Set Viewport </a>
                                        <ul class="dropdown-menu">
                                            <li><a   href="#" ng-click = "toggleGeometry()">Geometry</a></li>
                                            <li><a   href="#" ng-click = "toggleTopology()">Topology</a></li>
                                            <li><a   href="#" ng-click = "toggleData()">Data</a></li>
                                            <li><a   href="#" ng-click = "toggleFullCode()">Generated Code</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu" ng-if="showGeometry">
                                        <a   href="#"> Set View </a>
                                        <ul class="dropdown-menu">
                                            <li><a   ng-click="viewportControl.perspectiveView()">Perspective</a></li>
                                            <li><a   ng-click="viewportControl.topView()">Top</a></li>
                                            <li><a   ng-click="viewportControl.bottomView()">Bottom</a></li>
                                            <li><a   ng-click="viewportControl.frontView()">Front</a></li>
                                            <li><a   ng-click="viewportControl.backView()">Back</a></li>
                                            <li><a   ng-click="viewportControl.leftView()">Left</a></li>
                                            <li><a   ng-click="viewportControl.rightView()">Right</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu" ng-if="showGeometry">
                                        <a   href="#">Display Mode</a>
                                        <ul class="dropdown-menu">
                                            <li><a    ng-click="viewportControl.toggleWireframe()">Wireframe</a></li>
                                            <li><a   ng-click="viewportControl.toggleRender()">Render</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>

                                <topo-viewport control="topoViewportControl" id="topoViewport"></topo-viewport>

                                <viewport control="viewportControl" id="threeViewport"></viewport>

                                <div ng-if="showFullCode">
                                    <div style="height: 100%;width: 100%;top:35px;left:0;position: absolute;"
                                        ui-ace="{ mode: 'javascript',theme: 'tomorrow'}"
                                        ng-model="javascriptCode"
                                        readonly="{{true}}"
                                        ng-controller="graphCtrl">
                                    </div>
                                </div>

                                <div ng-if="showData" style="height: 100%;width: 100%;left:0;position: absolute;top:40px">
                                    <div ui-grid="gridOptions"
                                         class="grid"
                                         ui-grid-resize-columns
                                         ui-grid-auto-resize
                                         style="height: 100%;width: 100%; bottom:100px;font-size: 12px">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div ui-layout-container size = "15%" class="monitor">
                            <div ng-controller="consoleCtrl">
                                 <pre class="nodeName" style="padding: 1px">
                                    &nbsp &nbsp Console
                                    <button class="btn btn-default btn-xs pull-right"
                                            style="padding-top: 0;padding-bottom:0;right:10px"
                                            id = "clear"
                                            ng-click="clearConsole()"> Clear </button>
                                </pre>

                                <div class="console" id = 'log' ></div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- procedure area -->
                <ng-include  ng-if="displayProcedure"
                             ui-layout-container
                             size={{procedureWidth}}
                             src = "procedureHTML.url"
                        id="procedure">
                </ng-include>

                <!-- graph area -->
                <div class="graph-area" ui-layout-container  size={{graphWidth}} id="graph">

                    <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                        <div ui-layout-container size = "25%">

                            <div ng-controller="procedureCtrl">
                                <div ng-if = "currentNodeName">
                                    <pre class="nodeName" style="padding: 1px">
                                        &nbsp &nbsp {{currentNodeType}} &nbsp : &nbsp {{currentNodeName}} &nbsp
                                    </pre>
                                </div>

                                <div ng-if = "!currentNodeName">
                                    <pre class="nodeName" style="padding: 1px">
                                        &nbsp &nbsp No Node Selected
                                    </pre>
                                </div>

                                <div
                                        style="overflow: auto;
                                            position: absolute;
                                            height: 100%;
                                            width: 100%;
                                            border: 1px solid #cccccc;
                                            border-radius: 4px;
                                            margin-top:1px">
                                    <div ui-tree id="tree-root-interface" >
                                        <div ui-tree-nodes="" ng-model="interface">
                                            <div ng-repeat="node in interface"
                                                 ui-tree-node
                                                 ng-include="'mobius/procedure/interface_template.html'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- pan & zoom field -->
                        <div mouse-capture

                             ui-layout-container size = "75%">
                            <div ng-controller="graphCtrl">
                                <div ng-if = "currentNodeName">
                                    <pre class="nodeName" style="padding: 1px">
                                        &nbsp &nbsp {{currentNodeType}} &nbsp : &nbsp {{currentNodeName}} &nbsp
                                    </pre>
                                </div>

                                <div ng-if = "!currentNodeName">
                                    <pre class="nodeName" style="padding: 1px">
                                        &nbsp &nbsp Graph
                                    </pre>
                                </div>

                                <span ng-controller="executeCtrl"
                                        style="white-space: nowrap;
                                                position: absolute;
                                                right: 10px;
                                                top:2px;
                                                display: inline-block">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="run()"
                                            title="Run program">
                                        Run
                                    </button>

                                        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"
                                                style="position: absolute;
                                                left:50%;
                                                z-index: 999999999999999999999">
                                        </span>

                                </span>

                                <div ng-controller="znpController" class="znpController">
                                    <div style="    border: 1px solid #cccccc;
                                                    border-radius: 4px;
                                                    margin-top:1px">
                                        <panzoom config="panzoomConfig"
                                                 model="panzoomModel"
                                                 class="panzoom">
                                            <div>
                                                <flow-chart chart="chartViewModel" class = "flow-chart" >
                                                </flow-chart>
                                            </div>
                                        </panzoom>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery -->
<script type="text/javascript" src="assets/js/jquery/jquery-1.11.1.js"></script>

<!-- angularJs -->
<script type="application/javascript" src="assets/js/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/js/angular/angular-sanitize.js"></script>

<!-- angular-ui -->
<script type="application/javascript" src="assets/js/angular-ui/ui-layout/ui-layout.js"></script>
<script src="assets/js/angular-ui/ui-bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
<script type="text/javascript" src="mobius/procedure/angular-ui-tree.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/ui-select/select.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/angular-xeditable/xeditable.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/angular-prompt.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/ui-grid/ui-grid.min.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/hotkeys.js"></script>


<script type="text/javascript" src="assets/js/angular-ui/ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="assets/js/packages/ace-builds/src-min-noconflict/ace.js"></script>

<!-- flowchart -->
<script src="mobius/graph/ui-flowchart/debug.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/svg_class.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/mouse_capture_service.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/dragging_service.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/flowchart_directive.js" type="text/javascript"></script>

<!-- zoom and pan -->
<script src="assets/js/packages/hamsterjs/hamster.js"></script>
<script src="assets/js/angular/angular-mousewheel/mousewheel.js"></script>
<script src="assets/js/angular-ui/ui-panzoom/panzoom.js"></script>

<!-- three.js -->
<script src="assets/js/threejs/three.js"></script>
<script src="assets/js/threejs/OrbitControls.js"></script>
<script src="assets/js/threejs/CombinedCamera.js"></script>


<script src="assets/js/threejs/curves/NURBSCurve.js"></script>
<script src="assets/js/threejs/curves/NURBSSurface.js"></script>
<script src="assets/js/threejs/curves/NURBSUtils.js"></script>

<!--verb js-->
<script src="assets/js/verb/verb.js"></script>
<script src="assets/js/verb/verbToThreeConversion.js"></script>

<!--topo js-->
<script src="assets/js/topology/topology.js"></script>

<!--csg js-->
<script src="assets/js/csg/csg.js"></script>
<script src="assets/js/csg/ThreeCSG.js"></script>

<!--simplify js-->
<script src="assets/js/simplify/SimplifyModifier.js"></script>
<script src="assets/js/simplify/SubdivisionModifier.js"></script>

<!-- app -->
<script src="mobius/app.js"></script>

<!-- controllers -->
<script src="mobius/graph/graph_controller.js"></script>
<script src="mobius/menu/menu_controller.js"></script>
<script src="mobius/procedure/procedure_controller.js"></script>
<script src="mobius/graph/panzoom_controller.js"></script>
<script src="mobius/graph/execute_controller.js"></script>
<script src="mobius/viewport/console_controller.js"></script>
<script src="mobius/viewport/viewport_controller.js"></script>
<script src="mobius/layout_controller.js"></script>
<script src="mobius/template/dialog_controller.js"></script>

<!-- directives -->
<script src="mobius/graph/contextMenu_directive.js"></script>
<script src="mobius/viewport/viewport_directive.js"></script>
<script src="mobius/viewport/topoViewport_directive.js"></script>


<!-- services -->
<script src="mobius/service/model.js"></script>
<script src="mobius/service/console.js"></script>
<script src="mobius/service/nodeCollection.js"></script>

<!-- filters -->
<script src="mobius/procedure/procedure_filters.js"></script>

<!-- other -->
<script src="mobius/module.js"></script>
<script src="mobius/datastructure.js"></script>

<!--angular material-->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>


</body>

</html>