<!DOCTYPE html>
<html ng-app="mobius" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <title>Mobius</title>
    <!-- loading page -->
    <script  src="assets/js/packages/pace/pace.min.js"></script>
    <link href="assets/css/pace/pace-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- stylesheet -->
    <link rel="stylesheet" href="assets/css/mobius-layout.css">
    <link rel="stylesheet" href="assets/css/menu.css">
    <link rel="stylesheet" href="assets/css/view.css">
    <link rel="stylesheet" href="assets/css/dropdown.css">
    <link rel="stylesheet" href="assets/css/graph.css">
    <link rel="stylesheet" href="assets/css/viewport.css">
    <link rel="stylesheet" href="assets/css/procedure.css">
    <link rel="stylesheet" href="assets/css/ui-layout/ui-layout.css">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/css/ui-tree/ui-tree.css">
    <link rel="stylesheet" href="assets/css/flowchart/graph.css">
    <link rel="stylesheet" href="assets/css/select/select.css">
    <link rel="stylesheet" href="assets/css/xeditable/xeditable.css">
    <link rel="stylesheet" href="assets/css/hotkey/hotkeys.css">
    <link rel="stylesheet" href="assets/css/ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
</head>

<body>
<div >

    <!-- dropdown Menu -->
    <div ng-controller="menuCtrl" class = "menubar">
        <span dropdown on-toggle="toggled(open)">
            <a href dropdown-toggle class = "menuTitle">  File |</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="" ng-click="newScene($event)"> New Scene</a>
                </li>

                <li>
                    <input type="file" id="openSceneJson" name="files[]" multiple
                           onchange="angular.element(this).scope().openSceneJson(this.files)"/>
                    <a href="" onclick="document.getElementById('openSceneJson').click()">Open Scene</a>
                </li>

                <li>
                    <a ng-href="{{sceneUrl}}" download="scene.json" ng-click = "saveSceneJson()" id= "saveSceneJson">
                        Save Scene
                    </a>
                </li>

                <li class="dropdown-submenu">
                    <a>
                        Load Example
                    </a>

                    <ul class="dropdown-menu">
                        <li><a ng-click="loadExample('00_KillianRoof.json')"> Killian Roof </a></li>
                        <li><a ng-click="loadExample('03_SimpleTower.json')"> Simple Tower </a></li>
                        <li><a ng-click="loadExample('01_SpiralTowers.json')"> Spiral Towers </a></li>
                        <li><a ng-click="loadExample('02_Extrusions.json')"> Extrusion Example </a></li>
                    </ul>
                </li>
            </ul>
        </span>


        <span dropdown on-toggle="toggled(open)">
            <a class = "menuTitle" href dropdown-toggle>  View |</a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-click = "singleView()"> Single View </a>
                </li>

                <li>
                    <a ng-click = "fourViews()"> Four Views </a>
                </li>
            </ul>
        </span>

        <span dropdown on-toggle="toggled(open)" >
              <a class = "menuTitle" href dropdown-toggle>  Node |</a>
              <ul class="dropdown-menu">
                  <li>
                      <input type="file" id="importNode"
                             multiple
                             onchange="angular.element(this).scope().importNode(this.files)"/>
                      <a href="" onclick="document.getElementById('importNode').click()"> Import Node </a>
                  </li>

                  <!--todo when no node selected grey out-->
                  <li>
                      <a ng-href="{{nodeUrl}}" download="node.json" ng-click = "exportNode()">
                          Export Selected Node
                      </a>
                  </li>

                  <li>
                      <input type="file" id="importNodeLib"
                             onchange="angular.element(this).scope().importNodeLib(this.files)"/>
                      <a href="" onclick="document.getElementById('importNodeLib').click()"> Import Node Library</a>
                  </li>

                  <li>
                      <a ng-href="{{nodeLibUrl}}" download="nodeLib.json" ng-click = "exportNodeLib()">
                          Export Node Library
                      </a>
                  </li>
              </ul>
        </span>

        <span dropdown on-toggle="toggled(open)" >
            <a class = "menuTitle" href dropdown-toggle>  Code |</a>
            <ul class="dropdown-menu">
                <li id = "downloadJs">
                    <a ng-href="{{jsUrl}}" download="project.js" ng-click = "downloadJs()">
                        Export Graph&Nodes
                    </a>
                </li>

                <li id = "downloadLib">
                    <a ng-href="{{libUrl}}" download="mobius.js" ng-click = "downloadLib()">
                        Export Function Library
                    </a>
                </li>
            </ul>
        </span>

        <span dropdown on-toggle="toggled(open)">
            <a class = "menuTitle" href dropdown-toggle>  Help </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="https://github.com/phtj/mobius" target="_blank"> Github Repo </a>
                </li>
                <li>
                    <a ng-click=" toggleCheatSheet();"> Hotkeys </a>
                </li>
                <li>

                    <a href="doc/out/index.html" target="_blank"> Docs </a>
                </li>
            </ul>
        </span>
        <span id="mobiusInfo"> Mobius v0.1</span>
    </div>

    <!-- resizable layout -->
    <div ui-layout id="layout">
        <div ng-controller="layoutCtrl">
            <div class="layout-area" ui-layout="{flow : 'column'}" ng-controller="procedureCtrl">
                <!-- 3D view area  -->
                <div class="view-area" ui-layout-container size={{viewportWidth}} id="viewport">
                    <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                        <!-- threejs editor view port -->
                        <div ui-layout-container size = "85%" id="viewportLayout">
                            <div ng-controller="viewportCtrl">
                                <!--viewport menu-->
                                <span ng-if="viewportControl.layout === 'singleView'"
                                      dropdown on-toggle="toggled(open)" class="viewportMenu">
                                     <button class="btn btn-default btn-xs viewport-menu-button" dropdown-toggle>
                                         {{viewportControl.currentCate}}
                                         <span class="caret"></span>
                                     </button>

                                    <ul class="dropdown-menu" >
                                        <li class="dropdown-submenu">
                                            <a href="#"> Set Viewport </a>
                                            <ul class="dropdown-menu">
                                                <li><a   href="#" ng-click = "toggleGeometry('main')">Geometry</a></li>
                                                <li><a   href="#" ng-click = "toggleTopology('main')">Topology</a></li>
                                                <li><a   href="#" ng-click = "toggleData('main')">Data</a></li>
                                                <li><a   href="#" ng-click = "toggleFullCode('main')">Generated Code</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-submenu" ng-if="showGeometry">
                                            <a   href="#"> Set View </a>
                                            <ul class="dropdown-menu">
                                                <li><a   ng-click="viewportControl.perspectiveView('main')">Perspective</a></li>
                                                <li><a   ng-click="viewportControl.topView('main')">Top</a></li>
                                                <li><a   ng-click="viewportControl.bottomView('main')">Bottom</a></li>
                                                <li><a   ng-click="viewportControl.frontView('main')">Front</a></li>
                                                <li><a   ng-click="viewportControl.backView('main')">Back</a></li>
                                                <li><a   ng-click="viewportControl.leftView('main')">Left</a></li>
                                                <li><a   ng-click="viewportControl.rightView('main')">Right</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-submenu" ng-if="showGeometry">
                                            <a   href="#">Display Mode</a>
                                            <ul class="dropdown-menu">
                                                <li><a    ng-click="viewportControl.toggleWireframe()">Wireframe</a></li>
                                                <li><a   ng-click="viewportControl.toggleRender()">Render</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </span>

                                <!--viewports-->
                                <viewport control="viewportControl"
                                          id="threeViewport">

                                    <div ng-if="viewportControl.layout === 'fourViews'" >
                                        <!--LT-->
                                        <div id ="LT">
                                        <span dropdown on-toggle="toggled(open)" class="viewportMenu">
                                            <button class="btn btn-default btn-xs viewport-menu-button"
                                                    dropdown-toggle>
                                                {{viewportControl.LTcurrentCate}}
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu" >
                                                <li class="dropdown-submenu">
                                                    <a href="#"> Set Viewport </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" ng-click = "toggleGeometry('LT')">Geometry</a></li>
                                                        <li><a href="#" ng-click = "toggleTopology('LT')">Topology</a></li>
                                                        <li><a href="#" ng-click = "toggleData('LT')">Data</a></li>
                                                        <li><a href="#" ng-click = "toggleFullCode('LT')">Generated Code</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu" ng-if="showGeometryLT">
                                                    <a   href="#"> Set View </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a   ng-click="viewportControl.perspectiveView('LT')">Perspective</a></li>
                                                        <li><a   ng-click="viewportControl.topView('LT')">Top</a></li>
                                                        <li><a   ng-click="viewportControl.bottomView('LT')">Bottom</a></li>
                                                        <li><a   ng-click="viewportControl.frontView('LT')">Front</a></li>
                                                        <li><a   ng-click="viewportControl.backView('LT')">Back</a></li>
                                                        <li><a   ng-click="viewportControl.leftView('LT')">Left</a></li>
                                                        <li><a   ng-click="viewportControl.rightView('LT')">Right</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu" ng-if="showGeometryLT">
                                                    <a   href="#">Display Mode</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a    ng-click="viewportControl.wireframeOption('LT')">Wireframe</a></li>
                                                        <li><a   ng-click="viewportControl.renderOption('LT')">Render</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </span>

                                            <div ng-if="showFullCodeLT">
                                                <div class="codeViewport"
                                                     ui-ace="{ mode: 'javascript',theme: 'tomorrow'}"
                                                     ng-model="javascriptCode"
                                                     readonly="{{true}}"
                                                     ng-controller="codeCtrl">
                                                </div>
                                            </div>

                                            <div ng-if="showDataLT" class="dataViewport">
                                                <div ui-grid="gridOptions"
                                                     ui-grid-resize-columns
                                                     ui-grid-auto-resize
                                                     class="dataGrid">
                                                </div>
                                            </div>
                                        </div>

                                        <!--RT-->
                                        <div id ="RT">
                                        <span dropdown on-toggle="toggled(open)" class="viewportMenu">
                                             <button class="btn btn-default btn-xs viewport-menu-button" dropdown-toggle>
                                                 {{viewportControl.RTcurrentCate}}
                                                 <span class="caret"></span>
                                             </button>

                                            <ul class="dropdown-menu" >
                                                <li class="dropdown-submenu">
                                                    <a href="#"> Set Viewport </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a   href="#" ng-click = "toggleGeometry('RT')">Geometry</a></li>
                                                        <li><a   href="#" ng-click = "toggleTopology('RT')">Topology</a></li>
                                                        <li><a   href="#" ng-click = "toggleData('RT')">Data</a></li>
                                                        <li><a   href="#" ng-click = "toggleFullCode('RT')">Generated Code</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu" ng-if="showGeometryRT">
                                                    <a   href="#"> Set View </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a   ng-click="viewportControl.perspectiveView('RT')">Perspective</a></li>
                                                        <li><a   ng-click="viewportControl.topView('RT')">Top</a></li>
                                                        <li><a   ng-click="viewportControl.bottomView('RT')">Bottom</a></li>
                                                        <li><a   ng-click="viewportControl.frontView('RT')">Front</a></li>
                                                        <li><a   ng-click="viewportControl.backView('RT')">Back</a></li>
                                                        <li><a   ng-click="viewportControl.leftView('RT')">Left</a></li>
                                                        <li><a   ng-click="viewportControl.rightView('RT')">Right</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu" ng-if="showGeometryRT">
                                                    <a   href="#">Display Mode</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a    ng-click="viewportControl.wireframeOption('RT')">Wireframe</a></li>
                                                        <li><a   ng-click="viewportControl.renderOption('RT')">Render</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </span>

                                            <div ng-if="showFullCodeRT">
                                                <div class="codeViewport"
                                                     ui-ace="{ mode: 'javascript',theme: 'tomorrow'}"
                                                     ng-model="javascriptCode"
                                                     readonly="{{true}}"
                                                     ng-controller="codeCtrl">
                                                </div>
                                            </div>

                                            <div ng-if="showDataRT" class="dataViewport">
                                                <div ui-grid="gridOptions"
                                                     ui-grid-resize-columns
                                                     ui-grid-auto-resize
                                                     class="dataGrid">
                                                </div>
                                            </div>
                                        </div>

                                        <!--LB-->
                                        <div id ="LB">
                                        <span dropdown on-toggle="toggled(open)" class="viewportMenu">
                                            <button class="btn btn-default btn-xs viewport-menu-button" dropdown-toggle>
                                                {{viewportControl.LBcurrentCate}}
                                                <span class="caret"></span>
                                            </button>

                                            <ul class="dropdown-menu" >
                                                <li class="dropdown-submenu">
                                                    <a href="#"> Set Viewport </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a   href="#" ng-click = "toggleGeometry('LB')">Geometry</a></li>
                                                        <li><a   href="#" ng-click = "toggleTopology('LB')">Topology</a></li>
                                                        <li><a   href="#" ng-click = "toggleData('LB')">Data</a></li>
                                                        <li><a   href="#" ng-click = "toggleFullCode('LB')">Generated Code</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu" ng-if="showGeometryLB">
                                                    <a   href="#"> Set View </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a   ng-click="viewportControl.perspectiveView('LB')">Perspective</a></li>
                                                        <li><a   ng-click="viewportControl.topView('LB')">Top</a></li>
                                                        <li><a   ng-click="viewportControl.bottomView('LB')">Bottom</a></li>
                                                        <li><a   ng-click="viewportControl.frontView('LB')">Front</a></li>
                                                        <li><a   ng-click="viewportControl.backView('LB')">Back</a></li>
                                                        <li><a   ng-click="viewportControl.leftView('LB')">Left</a></li>
                                                        <li><a   ng-click="viewportControl.rightView('LB')">Right</a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu" ng-if="showGeometryLB">
                                                    <a   href="#">Display Mode</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a    ng-click="viewportControl.wireframeOption('LB')">Wireframe</a></li>
                                                        <li><a   ng-click="viewportControl.renderOption('LB')">Render</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </span>

                                            <div ng-if="showFullCodeLB">
                                                <div class="codeViewport"
                                                     ui-ace="{ mode: 'javascript',theme: 'tomorrow'}"
                                                     ng-model="javascriptCode"
                                                     readonly="{{true}}"
                                                     ng-controller="codeCtrl">
                                                </div>
                                            </div>

                                            <div ng-if="showDataLB" class="dataViewport">
                                                <div ui-grid="gridOptions"
                                                     ui-grid-resize-columns
                                                     ui-grid-auto-resize>
                                                </div>
                                            </div>
                                        </div>

                                        <!--RB-->
                                        <div id ="RB">
                                        <span dropdown on-toggle="toggled(open)" class="viewportMenu">
                                             <button class="btn btn-default btn-xs viewport-menu-button" dropdown-toggle>
                                                 {{viewportControl.RBcurrentCate}}
                                                 <span class="caret"></span>
                                             </button>

                                             <ul class="dropdown-menu" >
                                                 <li class="dropdown-submenu">
                                                     <a href="#"> Set Viewport </a>
                                                     <ul class="dropdown-menu">
                                                         <li><a   href="#" ng-click = "toggleGeometry('RB')">Geometry</a></li>
                                                         <li><a   href="#" ng-click = "toggleTopology('RB')">Topology</a></li>
                                                         <li><a   href="#" ng-click = "toggleData('RB')">Data</a></li>
                                                         <li><a   href="#" ng-click = "toggleFullCode('RB')">Generated Code</a></li>
                                                     </ul>
                                                 </li>

                                                 <li class="dropdown-submenu" ng-if="showGeometryRB">
                                                     <a   href="#"> Set View </a>
                                                     <ul class="dropdown-menu">
                                                         <li><a   ng-click="viewportControl.perspectiveView('RB')">Perspective</a></li>
                                                         <li><a   ng-click="viewportControl.topView('RB')">Top</a></li>
                                                         <li><a   ng-click="viewportControl.bottomView('RB')">Bottom</a></li>
                                                         <li><a   ng-click="viewportControl.frontView('RB')">Front</a></li>
                                                         <li><a   ng-click="viewportControl.backView('RB')">Back</a></li>
                                                         <li><a   ng-click="viewportControl.leftView('RB')">Left</a></li>
                                                         <li><a   ng-click="viewportControl.rightView('RB')">Right</a></li>
                                                     </ul>
                                                 </li>

                                                 <li class="dropdown-submenu" ng-if="showGeometryRB">
                                                     <a href="#">Display Mode</a>
                                                     <ul class="dropdown-menu">
                                                         <li><a    ng-click="viewportControl.wireframeOption('RB')">Wireframe</a></li>
                                                         <li><a   ng-click="viewportControl.renderOption('RB')">Render</a></li>
                                                     </ul>
                                                 </li>
                                             </ul>
                                        </span>

                                            <div ng-if="showFullCodeRB">
                                                <div class="codeViewport"
                                                     ui-ace="{ mode: 'javascript',theme: 'tomorrow'}"
                                                     ng-model="javascriptCode"
                                                     readonly="{{true}}"
                                                     ng-controller="codeCtrl">
                                                </div>
                                            </div>

                                            <div ng-if="showDataRB" class="dataViewport">
                                                <div ui-grid="gridOptions"
                                                     ui-grid-resize-columns
                                                     ui-grid-auto-resize
                                                     class="dataGrid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </viewport>



                                <topo-viewport control="topoViewportControl" id="topoViewport">
                                </topo-viewport>

                                <div id="LT1" ></div>
                                <div id="RT1" ></div>
                                <div id="LB1" ></div>
                                <div id="RB1" ></div>

                                <div id = 'topoContainer'></div>

                                <div ng-if="showFullCode">
                                    <div class="codeViewport"
                                         ui-ace="{ mode: 'javascript',theme: 'tomorrow'}"
                                         ng-model="javascriptCode"
                                         readonly="{{true}}"
                                         ng-controller="codeCtrl">
                                    </div>
                                </div>

                                <div ng-if="showData" class="dataViewport">
                                    <div ui-grid="gridOptions"
                                         ui-grid-resize-columns
                                         ui-grid-auto-resize
                                         class="dataGrid-main">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--console-->
                        <div ui-layout-container size = "15%" class="monitor">
                            <div ng-controller="consoleCtrl">
                                 <pre class="nodeName">
                                    &nbsp &nbsp Console
                                    <button class="btn btn-default btn-xs pull-right"
                                            id = "clear"
                                            ng-click="clearConsole()"> Clear </button>
                                 </pre>
                                <div class="console" id = 'log' ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- procedure area -->
                <ng-include  ng-if="displayProcedure"
                             ui-layout-container
                             size={{procedureWidth}}
                             src = "procedureHTML.url"
                             id="procedure">
                </ng-include>

                <!-- graph area -->
                <div class="graph-area" ui-layout-container  size={{graphWidth}} id="graph">
                    <!--interface-->
                    <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                        <div ui-layout-container size = "25%">
                            <div >
                                <div ng-if = "currentNodeName">
                                    <pre class="nodeName">
                                        &nbsp &nbsp {{currentNodeType}} {{currentNodeVersion}} : &nbsp {{currentNodeName}} &nbsp
                                    </pre>
                                </div>

                                <div ng-if = "!currentNodeName">
                                    <pre class="nodeName">
                                        &nbsp &nbsp No Node Selected
                                    </pre>
                                </div>

                                <div id="interface">
                                    <div ui-tree id="tree-root-interface"
                                         data-nodrop-enabl2ed="true">
                                        <div ui-tree-nodes="" ng-model="interface">
                                            <div ng-repeat="node in interface"
                                                 ui-tree-node
                                                 ng-include="'mobius/procedure/template/interface_template.html'"
                                                 ng-if="node.connected !== true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- pan & zoom field -->
                        <div mouse-capture
                             ui-layout-container size = "75%">
                            <div ng-controller="graphCtrl">
                                <div ng-if = "currentNodeName">
                                    <pre class="nodeName">
                                        &nbsp &nbsp {{currentNodeName}} &nbsp
                                    </pre>
                                </div>

                                <div ng-if = "!currentNodeName">
                                    <pre class="nodeName">
                                        &nbsp &nbsp Graph
                                    </pre>
                                </div>

                                <span ng-controller="executeCtrl" id="run-button">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="run()"
                                            title="Run program">
                                        Run
                                    </button>
                                </span>

                                <div ng-controller="znpController" class="znpController">
                                    <div id="canvas">
                                        <panzoom config="panzoomConfig"
                                                 model="panzoomModel"
                                                 class="panzoom">
                                            <flow-chart chart="chartViewModel" class = "flow-chart" >
                                            </flow-chart>
                                        </panzoom>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-controller="nodeMenuCtrl" ng-include="'mobius/graph/contextMenu_template.html'"></div>

<div ng-controller="procedureMenuCtrl" ng-include="'mobius/procedure/template/procedureMenu_template.html'" ></div>


<!-- jquery -->
<script type="text/javascript" src="assets/js/jquery/jquery-1.11.1.js"></script>

<!-- angularJs -->
<script type="application/javascript" src="assets/js/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/js/angular/angular-sanitize.js"></script>
<script type="application/javascript" src="//code.angularjs.org/1.4.4/angular-route.js"></script>

<!-- angular-ui -->
<script type="application/javascript" src="mobius/layout/ui-layout.js"></script>
<script src="assets/js/angular-ui/ui-bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
<script type="text/javascript" src="mobius/procedure/angular-ui-tree.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/ui-select/select.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/angular-xeditable/xeditable.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/ui-grid/ui-grid.min.js"></script>
<script type="text/javascript" src="assets/js/angular-ui/hotkeys.js"></script>
<script type="text/javascript" src="mobius/contextMenu/ng-context-menu.js"></script>

<script type="text/javascript" src="assets/js/angular-ui/ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="assets/js/packages/ace-builds/src-min-noconflict/ace.js"></script>

<script type="text/javascript" src="assets/js/angular-ui/history.js"></script>


<!-- flowchart -->
<script src="mobius/graph/ui-flowchart/svg_class.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/mouse_capture_service.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/dragging_service.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/flowchart_directive.js" type="text/javascript"></script>
<script src="mobius/graph/ui-flowchart/debug.js" type="text/javascript"></script>

<!-- zoom and pan -->
<script src="assets/js/packages/hamsterjs/hamster.js"></script>
<script src="assets/js/angular/angular-mousewheel/mousewheel.js"></script>
<script src="mobius/graph/ui-panzoom/panzoom.js"></script>

<!-- three.js -->
<script src="assets/js/threejs/three.js"></script>
<script src="assets/js/threejs/OrbitControls.js"></script>
<script src="assets/js/threejs/CombinedCamera.js"></script>
<script src="assets/js/threejs/Detector.js"></script>

<script src="assets/js/threejs/curves/NURBSCurve.js"></script>
<script src="assets/js/threejs/curves/NURBSSurface.js"></script>
<script src="assets/js/threejs/curves/NURBSUtils.js"></script>

<!--verb js-->
<script src="assets/js/verb/verb.js"></script>
<script src="assets/js/verb/verbToThreeConversion.js"></script>

<!--topo js-->
<script src="assets/js/topology/topology.js"></script>

<!--csg js-->
<script src="assets/js/csg/csg.js"></script>
<script src="assets/js/csg/ThreeCSG.js"></script>

<!--simplify js-->
<script src="assets/js/simplify/SimplifyModifier.js"></script>
<script src="assets/js/simplify/SubdivisionModifier.js"></script>

<!-- app -->
<script src="mobius/app/app.js"></script>

<!-- controllers -->
<script src="mobius/graph/graph_controller.js"></script>
<script src="mobius/menu/menu_controller.js"></script>
<script src="mobius/procedure/procedure_controller.js"></script>
<script src="mobius/graph/panzoom_controller.js"></script>
<script src="mobius/graph/execute_controller.js"></script>
<script src="mobius/viewport/console_controller.js"></script>
<script src="mobius/viewport/viewport_controller.js"></script>
<script src="mobius/layout/layout_controller.js"></script>
<script src="mobius/template/dialog_controller.js"></script>
<script src="mobius/graph/addNewNode_Controller.js"></script>
<script src="mobius/viewport/code_controller.js"></script>
<script src="mobius/graph/nodeMenu_controller.js"></script>
<script src="mobius/procedure/procedureMenu_controller.js"></script>


<!-- directives -->
<script src="mobius/viewport/viewport_directive.js"></script>
<script src="mobius/viewport/topoViewport_directive.js"></script>


<!-- services -->
<script src="mobius/service/model.js"></script>
<script src="mobius/service/console.js"></script>
<script src="mobius/service/nodeCollection.js"></script>
<script src="mobius/service/dataConversion.js"></script>
<script src="mobius/service/executeService.js"></script>

<!-- filters -->
<script src="mobius/procedure/procedure_filters.js"></script>

<!-- other -->
<script src="mobius/app/datastructure.js"></script>
<script src="mobius/module/module_verb.js"></script>


<!--angular material-->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>




</body>

</html>