<!DOCTYPE html>
<html ng-app="vidamo" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8" />
  <title>Vidamo</title>
    <!-- loading page -->
    <script  src="assets/js/packages/pace/pace.min.js"></script>
    <link href="assets/css/pace-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- stylesheet -->
    <link rel="stylesheet" href="assets/css/vidamo-layout.css">
    <link rel="stylesheet" href="assets/css/ui-layout.css">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/css/ui-tree.css">
    <link rel="stylesheet" href="assets/css/graph.css">
    <link rel="stylesheet" href="assets/css/select.css">
    <link rel="stylesheet" href="assets/css/xeditable.css">
    <link rel="stylesheet" href="assets/css/hotkeys.css">

</head>

<body>
    <div>
        <!-- dropdown Menu -->
        <div ng-controller="menuCtrl">
            <div class = "menubar">
                <span dropdown on-toggle="toggled(open)">
                    <a href dropdown-toggle>  File |</a>
                    <ul class="dropdown-menu">
                        <!--todo new: refresh? -->
                        <li>
                            <a> Todo:New </a>
                        </li>

                        <li>
                            <input type="file" id="openSceneJson" name="files[]"
                                   style="visibility: hidden; width: 1px; height: 1px" multiple
                                 onchange="angular.element(this).scope().openSceneJson(this.files)"/>
                            <a href="" onclick="document.getElementById('openSceneJson').click()">Open Scene</a>
                        </li>

                        <li id = "sceneJson">
                            <a ng-href="{{sceneUrl}}" download="scene.json" ng-click = "saveSceneJson()">
                                Save Scene
                            </a>
                        </li>
                    </ul>
                </span>

                <!-- todo redo/undo -->
                <span dropdown on-toggle="toggled(open)">
                    <a href dropdown-toggle>  Edit |</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a> Todo:Undo </a>
                        </li>

                        <li>
                            <a> Todo:Redo </a>
                        </li>
                    </ul>
                </span>

                <span dropdown on-toggle="toggled(open)" >
                      <a href dropdown-toggle>  Node |</a>
                      <ul class="dropdown-menu">
                          <li>
                              <input type="file" id="importNode"
                                     style="visibility: hidden; width: 1px; height: 1px" multiple
                                     onchange="angular.element(this).scope().importNode(this.files)"/>
                              <a href="" onclick="document.getElementById('importNode').click()"> Import Node </a>
                          </li>

                          <li>
                              <a ng-href="{{nodeUrl}}" download="node.json" ng-click = "exportNode()">
                                  Export Node
                              </a>
                          </li>
                      </ul>
                </span>

                <span dropdown on-toggle="toggled(open)" >
                    <a href dropdown-toggle>  Code |</a>
                    <ul class="dropdown-menu">
                        <li id = "downloadJs">
                            <a ng-href="{{jsUrl}}" download="project.js" ng-click = "downloadJs()">
                                Export Graph&Nodes
                            </a>
                        </li>

                        <li id = "downloadLib">
                            <a ng-href="{{libUrl}}" download="vidamo.js" ng-click = "downloadLib()">
                                Export Function Library
                            </a>
                        </li>
                    </ul>
                </span>

                <!-- todo help -->
                <span dropdown on-toggle="toggled(open)">
                    <a href dropdown-toggle>  Help </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a> Todo:Help </a>
                        </li>
                        <li>
                            <a href="https://github.com/phtj/vidamo" target="_blank"> Github Repo </a>
                        </li>
                        <li>
                            <a href ng-click=" toggleCheatSheet();"> Hotkeys </a>
                        </li>
                    </ul>
                </span>

            </div>
        </div>

        <!-- resizable layout -->
        <div ui-layout>
            <div class="layout-area" ui-layout="{flow : 'column'}">
                <!-- graph area -->
                <div class="graph-area" ui-layout-container size="25%">
                    <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                        <!-- pan & zoom field -->
                        <div mouse-capture
                             ng-keydown="keyDown($event)"
                             ng-keyup="keyUp($event)"
                             ui-layout-container size = "85%">
                            <div ng-controller="graphCtrl">
                                <div ng-controller="znpController" class="znpController">
                                    <div>
                                        <panzoom config="panzoomConfig"
                                                 model="panzoomModel"
                                                 class="panzoom">
                                            <div>
                                                <flow-chart chart="chartViewModel" class = "flow-chart" >
                                                </flow-chart>
                                            </div>
                                        </panzoom>
                                    </div>
                                </div>

                                <div class = "buttons">
                                    <span ng-controller="executeCtrl">
                                        <button class="btn btn-default btn-xs"
                                                ng-click="run()"
                                                title="Run program">
                                            Run
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- graph code field -->
                        <div ui-layout-container size = "15%">
                            <div ng-controller="graphCtrl">
                                <div class="info-title">Scene Code:</div>

                                <div class="codeEditor"
                                     ui-ace="{ mode: 'javascript',
                                               theme: 'tomorrow',
                                              }"
                                     ng-model="javascriptCode"
                                     readonly="{{true}}"
                                        >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 3D view area  -->
                <div class=" view-area" ui-layout-container size="50%">
                    <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                        <!-- threejs editor view port -->
                        <div ui-layout-container size = "85%" id="xxx">

                        <div ng-controller="viewportCtrl">
                            <viewport control="viewportControl" id="threeViewport">
                            </viewport>
                        </div>

                            <!--<div ng-controller="graphCtrl">-->
                                <!--<textarea-->
                                <!--style="width: 100%; height: 100%;-->
                                <!--padding-top: 8px;-->
                                <!--padding-left: 8px;-->
                                <!--padding-right: 8px;-->
                                <!--padding-bottom: 20px;-->
                                <!--font-size: 12px;-->
                                <!--overflow: auto;-->
                                <!--position: absolute;"-->
                                <!--chart-json-edit-->
                                <!--view-model="chartViewModel">-->
                                <!--</textarea>-->
                            <!--</div>-->
                        </div>

                        <div ui-layout-container size = "15%" class="monitor">
                            <div>
                                <div class = "info-title" ng-controller="consoleCtrl">
                                    Console:
                                    <a id = "clear" ng-click="clearConsole()"> Clear </a>
                                </div>
                                <div class="console" id = 'log'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- code area -->
                <div class="code-area" ui-layout-container size="25%" >
                    <div ng-controller="procedureCtrl">
                        <div ui-layout="{ flow : 'row', dividerSize:'10'}" >
                            <div ui-layout-container size = "85%">
                            <div>
                                <div ng-if = "currentNodeName">
                                    <pre class="nodeName">&nbsp Node: &nbsp {{currentNodeName}} &nbsp Type: &nbsp {{currentNodeType}} &nbsp</pre>
                                </div>

                                <tabset justified="true">
                                    <!-- add to interface -->
                                    <tab heading="Parameters" select="toggleCodeContent('outer')">
                                        <div class="tabArea">
                                            <div ui-tree id="tree-root-interface">
                                                <div ui-tree-nodes="" ng-model="interface">
                                                    <div ng-repeat="node in interface"
                                                         ui-tree-node
                                                         ng-include="'vidamo/procedure/interface_template.html'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>

                                    <tab heading="Procedure" select="toggleCodeContent('inner')">
                                        <div  class="tabArea">
                                            <!-- parameters -->
                                            <div ui-tree id="tree-root-parameter"
                                                 style="padding-bottom:6px"
                                                 data-nodrop-enabled="true">
                                                <div ui-tree-nodes="" ng-model="interface">
                                                    <div ng-repeat="node in interface"
                                                         ui-tree-node
                                                         ng-include="'vidamo/procedure/parameter_template.html'">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- procedure -->
                                            <div ui-tree id="tree-root-procedure" >
                                                <div ui-tree-nodes="" ng-model="data">
                                                    <div ng-repeat="node in data"
                                                         ui-tree-node
                                                         ng-include="'vidamo/procedure/procedure_template.html'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class = "buttons" >
                                            <button id="button-parameter"
                                                    class="btn btn-default btn-xs"
                                                    ng-click="newInterface('Parameter')"> Add Parameter</button>

                                            <button id="button-data"
                                                    class="btn btn-default btn-xs"
                                                    ng-click="newItem('Data')">Add Data</button>

                                            <ui-select id="button-action"
                                                       ng-model="method"
                                                       style="display: inline-block;"
                                                       on-select="newItem('Action',$select.selected)">
                                                <ui-select-match placeholder="Add Action">Add Action</ui-select-match>
                                                <ui-select-choices
                                                        repeat="method as method in methods()| filter: $select.search">
                                                    <span ng-bind-html="method| highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                            <ui-select id="button-control"
                                                       ng-model="controlType"
                                                       style="display: inline-block;"
                                                       on-select="newItem('Control',$select.selected)">
                                                <ui-select-match placeholder="Add Control">Add Control</ui-select-match>
                                                <ui-select-choices
                                                        repeat="controlType in controlTypes| filter: $select.search">
                                                    <span ng-bind-html="controlType| highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>

                            <div ui-layout-container size = "15%" class="monitor">
                                <div ng-if = "codeContent === 'outer'">
                                    <div ng-if="!outerCodeList[nodeIndex]">
                                        <div class="info-title">Interface Code: </div>
                                        <div class="codeEditor" ui-ace="{ mode: 'javascript', theme: 'tomorrow' }"
                                             readonly="{{true}}">// To generate code, create graph&procedure and run</div>
                                    </div>

                                    <div ng-if="outerCodeList[nodeIndex]">
                                        <div class="info-title">Interface Code: </div>
                                        <div class="codeEditor" ui-ace="{ mode: 'javascript', theme: 'tomorrow' }"
                                             ng-model="outerCodeList[nodeIndex]"
                                             readonly="{{true}}">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if = "codeContent === 'inner'">
                                    <div ng-if="!innerCodeList[nodeIndex]">
                                        <div class="info-title">Procedure Code: </div>
                                        <div class="codeEditor" ui-ace="{ mode: 'javascript', theme: 'tomorrow' }"
                                             readonly="{{true}}">// To generate code, create graph&procedure and run</div>
                                    </div>

                                    <div ng-if="innerCodeList[nodeIndex]">
                                        <div class="info-title">Procedure Code: </div>
                                        <div class="codeEditor" ui-ace="{ mode: 'javascript', theme: 'tomorrow' }"
                                             ng-model="innerCodeList[nodeIndex]"
                                             readonly="{{true}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script type="text/javascript" src="assets/js/jquery/jquery-1.11.1.js"></script>

    <!-- angularJs -->
    <script type="application/javascript" src="assets/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/angular/angular-sanitize.js"></script>


    <!-- angular-ui -->
    <script type="application/javascript" src="assets/js/angular-ui/ui-layout/ui-layout.js"></script>
    <script src="assets/js/angular-ui/ui-bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script type="text/javascript" src="vidamo/procedure/angular-ui-tree.js"></script>
    <script type="text/javascript" src="assets/js/angular-ui/ui-select/select.js"></script>
    <script type="text/javascript" src="assets/js/angular-ui/angular-xeditable/xeditable.js"></script>
    <script type="text/javascript" src="assets/js/angular-ui/angular-prompt.js"></script>
    <script type="text/javascript" src="assets/js/angular-ui/hotkeys.js"></script>


    <!-- ace -->
    <script type="text/javascript" src="assets/js/angular-ui/ui-ace/ui-ace.js"></script>
    <script type="text/javascript" src="assets/js/packages/ace-builds/src-min-noconflict/ace.js"></script>

    <!-- flowchart -->
    <script src="vidamo/graph/ui-flowchart/debug.js" type="text/javascript"></script>
    <script src="vidamo/graph/ui-flowchart/svg_class.js" type="text/javascript"></script>
    <script src="vidamo/graph/ui-flowchart/mouse_capture_service.js" type="text/javascript"></script>
    <script src="vidamo/graph/ui-flowchart/dragging_service.js" type="text/javascript"></script>
    <script src="vidamo/graph/ui-flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
    <script src="vidamo/graph/ui-flowchart/flowchart_directive.js" type="text/javascript"></script>

    <!-- zoom and pan -->
    <script src="assets/js/packages/hamsterjs/hamster.js"></script>
    <script src="assets/js/angular/angular-mousewheel/mousewheel.js"></script>
    <script src="assets/js/angular-ui/ui-panzoom/panzoom.js"></script>

    <!-- three.js -->
    <script src="assets/js/threejs/build/three.js"></script>
    <script src="assets/js/threejs/examples/js/controls/TransformControls.js"></script>
    <script src="assets/js/threejs/examples/js/controls/OrbitControls.js"></script>
	
	<script src="assets/js/threejs/curves/NURBSCurve.js"></script>
	<script src="assets/js/threejs/curves/NURBSSurface.js"></script>
	<script src="assets/js/threejs/curves/NURBSUtils.js"></script>

    <!--verb js-->
    <script src="assets/js/verb/verb.js"></script>
    <script src="assets/js/verb/verbToThreeConversion.js"></script>
	
	<!--csg js-->
	<script src="assets/js/csg/csg.js"></script>
	<script src="assets/js/csg/ThreeCSG.js"></script>

	<!--simplify js-->
	<script src="assets/js/simplify/SimplifyModifier.js"></script>
	<script src="assets/js/simplify/SubdivisionModifier.js"></script>	
	
    <!-- app -->
    <script src="vidamo/app.js"></script>

    <!-- controllers -->
    <script src="vidamo/graph/graph_controller.js"></script>
    <script src="vidamo/menu/menu_controller.js"></script>
    <script src="vidamo/procedure/procedure_controller.js"></script>
    <script src="vidamo/graph/panzoom_controller.js"></script>
    <script src="vidamo/graph/execute_controller.js"></script>
    <script src="vidamo/viewport/console_controller.js"></script>
    <script src="vidamo/viewport/viewport_controller.js"></script>


    <!-- directives -->
    <script src="vidamo/graph/contextMenu_directive.js"></script>
    <script src="vidamo/viewport/viewport_directive.js"></script>

    <!-- services -->
    <script src="vidamo/service/model.js"></script>
    <script src="vidamo/service/nodeCollection.js"></script>

    <!-- filters -->
    <script src="vidamo/procedure/procedure_filters.js"></script>

    <!-- other -->
    <script src="vidamo/module.js"></script>

</body>

</html>