<!--vidamo-->
<!-- interface template -->

<div ui-tree-handle class="tree-node tree-node-content"  style="background-color: white">

    <!-- parameter presentation-->
    <div style="padding-left:20px " class="tree-node-content">

        {{ node.dataName || 'undefined' }}
        &nbsp;:&nbsp;
        <a data-nodrag href="#" editable-text="node.dataValue" buttons="no" blur="submit">{{ node.dataValue || 'value' }}</a>


        <!--<a href="#"-->
           <!--editable-checkbox="node.overwrite"-->
           <!--e-title="overwritten by input"-->
           <!--data-nodrag-->
           <!--buttons="no"-->
           <!--style="margin-left:20px;">-->
            <!--{{ node.overwrite && "overwriten by input" || "no input" }}-->
        <!--</a>-->

        <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"
                 ui-tree-node ng-include="'mobius/procedure/interface_template.html'">
            </div>
        </div>

    </div>

</div>


