<!--vidamo-->
<!-- interface template -->


<div ui-tree-handle class="tree-node tree-node-content"  style="background-color: white">

    <!-- parameter presentation-->
    <div style="padding-left:20px " class="tree-node-content">
        {{ node.name || 'undefined' }}
        &nbsp;:&nbsp;
        <a ng-if =" node.option.name === 'none'"
           data-nodrag href="#"
           editable-text="node.dataValue"
           buttons="no"
           blur="submit">{{ node.dataValue || 'value' }}</a>



        <span ng-if =" node.option.name === 'slider'">
            <a data-nodrag href="#"
               editable-text="node.dataValue"
               buttons="no"
               blur="submit">{{ node.dataValue || 'value' }}
            </a>

            <input
               style="width: 55%; display:inline-block"
                type="range"
                data-nodrag
                ng-model="node.dataValue"
                max = "{{node.max}}"
                min = "{{node.min}}"
                step="{{node.step}}">
            </input>
        </span>

        <input ng-if =" node.option.name === 'color picker'"
            data-nodrag
               ng-model="node.color"
            type="color" />

        <a ng-if =" node.option.name === 'dropdown'"
           data-nodrag
           href="#"
           blur="submit"
           buttons="no"
           editable-select="node.dataValue"
           e-ng-options="option for option in menuOptions(node.menuOptionText)">
            {{ node.dataValue || 'value' }}
        </a>

    </div>

    <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"
                 ui-tree-node ng-include="'mobius/procedure/interface_template.html'">
            </div>
        </div>

    </div>

</div>