<!-- mobius -->
<!-- parameter (argumnent) template -->


<div ui-tree-handle class="tree-node tree-node-content procedure-tree">

    <div style="padding-left:20px " class="tree-node-content">
        name:
        <a>
            <a href="#" data-nodrag editable-text="node.name" buttons="no">{{ node.name || 'name' }}</a>
        </a>

        &nbsp;option:

        <a href="#" data-nodrag editable-select="node.option" buttons="no" e-ng-options="option.name for option in interfaceOptions">
            {{node.option.name}}
        </a>

        <span ng-if="node.option.name === 'slider'">
            &nbsp;min:
            <a>
                <a href="#" data-nodrag editable-text="node.min" buttons="no">{{ node.min || 'min' }}</a>
            </a>
            &nbsp;max:
            <a>
                <a href="#" data-nodrag editable-text="node.max" buttons="no">{{ node.max || 'max' }}</a>
            </a>
            &nbsp;step:
            <a>
                <a href="#" data-nodrag editable-text="node.step" buttons="no">{{ node.step || 'step' }}</a>
            </a>
        </span>

        <!--delete key-->
        <a class="pull-right btn btn-xs" data-nodrag ng-click="removeInput(this)" style="padding: 0;margin: 0" >
            <span style="font-weight: 400; font-size: 16px;line-height:1" > &times; </span>
        </a>
        <span ng-if="node.option.name === 'dropdown'">
            &nbsp;menu options:
                <a href="#"
                   data-nodrag
                   editable-text="node.menuOptionText"
                   buttons="no">
                    <pre style="margin-right: 15px;margin-bottom: 5px;padding: 0">
                        {{ node.menuOptionText || 'menu text' }}
                    </pre>
                </a>
        </span>

        <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"
                 ui-tree-node ng-include="'mobius/procedure/parameter_template.html'">
            </div>
        </div>

    </div>

</div>