<!-- mobius -->
<!-- procedure template -->

<div ui-tree-handle class="tree-node tree-node-content procedure-tree ">

    <div ng-class="{'node-selected':node.selected,
                    'node-disabled':node.disabled,
                    'node-selected-disabled':node.selected && node.disabled}"
         style="min-height: 22px">

    <!--data procedure-->
    <div ng-if="node.title === 'Data'" style="padding-left:20px " class="tree-node-content">
        <a>
            <!--vairable name and value-->
            <a href="#" data-nodrag editable-text="node.dataName" blur="submit"  buttons="no" >
                {{ node.dataName || 'name' }}
            </a>
            =
            <a data-nodrag href="#" editable-text="node.dataValue" buttons="no" blur="submit">
                {{ node.dataValue || 'value' }}
            </a>
        </a>

        <!--delete key-->
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
            <span style="font-weight: 400; font-size: 16px;line-height:1" > &times; </span>
        </a>

        <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"
                 ui-tree-node ng-include="'vidamo/template/procedure.html'">
            </div>
        </div>

    </div>


    <!--output procedure-->
    <div ng-if="node.title === 'Output'" style="padding-left:20px " class="tree-node-content  ">

        Output
        <a>
            <!--Output name and value-->
            <a href="#" data-nodrag editable-text="node.name" blur="submit"  buttons="no" >
                {{ node.name || 'name' }}
            </a>
            =
            <a data-nodrag href="#" editable-text="node.dataValue" buttons="no" blur="submit">
                {{ node.dataValue || 'value' }}
            </a>
        </a>

        <!--delete key-->
        <a class="pull-right btn btn-xs" data-nodrag ng-click="removeOutput(this)" style="padding: 0;margin: 0" >
            <span style="font-weight: 400; font-size: 16px;line-height:1" > &times; </span>
        </a>

        <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"
                 ui-tree-node ng-include="'vidamo/template/procedure.html'">
            </div>
        </div>

    </div>

    <!--action procedure-->
    <div ng-if="node.title === 'Action' && node.method !== 'expression'" style="padding-left:20px" class="tree-node-content ">
        <!--return vairable-->
        <a href="#" data-nodrag buttons="no"
           blur="submit"
           ng-if="node.method !== 'print' && node.return !== false"
           editable-text="node.result"
           style="display: inline-block">
            {{ node.result || 'result' }} =
        </a>

        <!--method name-->
        {{node.category}}.{{node.method}}

        (
        <!--parameters-->
        <div ng-repeat="parameter in node.parameters" style="display: inline-block" ng-class="{'last': $last}">
            <a data-nodrag href="#"
               editable-text="parameter.value"
               buttons="no"
               blur="submit">{{parameter.value || parameter.type}}</a>
            {{$last? '': ','}}&nbsp;
        </div>
        )

        <!--delete key-->
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
            <span style="font-weight: 400; font-size: 16px;line-height:1; right:2px; position: absolute" > &times; </span>
        </a>
    </div>

    <div ng-if="node.title === 'Action' && node.method === 'expression'" style="padding-left:20px" class="tree-node-content ">
        <a data-nodrag href="#" editable-text="node.expression" buttons="no" blur="submit">
            {{ node.expression || 'expression' }}
        </a>

        <!--delete key-->
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
            <span style="font-weight: 400; font-size: 16px;line-height:1" > &times; </span>
        </a>
    </div>


    <!--control procedure-->
    <div ng-if="node.title === 'Control'"  class="tree-node-content ">
        <!--expand/collapse key-->
        <div ng-if="node.controlType === 'if' || node.controlType === 'else' " style="margin-left: -20px">
            <a data-nodrag ng-click="toggle(this)" >
                <span
                        class="fa"
                        style="font-weight: 900; font-size: 17px;"
                        ng-class="{
                              'fa-angle-right': collapsed,
                              'fa-angle-down': !collapsed
                               }">
                </span>
            </a>

            <!--if tag-->
            <div data-nodrag ng-if="node.controlType === 'if'" style="display: inline-block; padding-left:23px">
                if
                <a href="#" data-nodrag editable-text="node.ifExpression" buttons="no" blur="submit">
                    {{ node.ifExpression || 'expression' }}
                </a>
            </div>

            <!--else tag-->
            <div data-nodrag ng-if="node.controlType === 'else'" style="display: inline-block;padding-left:23px">
                else
            </div>
        </div>


        <a ng-if="node.controlType !== 'if' && node.controlType !== 'else' " data-nodrag ng-click="toggle(this)">
            <span
                    class="fa"
                    style="font-weight: 900; font-size: 17px;"
                    ng-class="{
                          'fa-angle-right': collapsed,
                          'fa-angle-down': !collapsed
                           }">
            </span>
        </a>

        <!--for each loop-->
        <div ng-if="node.controlType === 'for each'" style="display: inline-block; padding-left:3px">
            for each
            <!--list item name-->
            <a href="#" data-nodrag editable-text="node.dataName" buttons="no" blur="submit">
                {{ node.dataName || 'item' }}
            </a>
            in
            <a data-nodrag href="#" editable-text="node.forList" buttons="no" blur="submit"> {{node.forList||'list'}}</a>

        </div>

        <!--if else control-->
        <div ng-if="node.controlType === 'if else'" style=" display: inline-block; padding-left:3px">
            if...else...
        </div>


        <!--delete key-->
        <a ng-if="node.controlType !== 'if' && node.controlType !== 'else'"
           class="pull-right btn btn-xs"
           data-nodrag
           ng-click="remove(this)"
           style="padding: 0;margin: 0">
            <span>
                <span style="font-weight: 400; font-size: 16px;line-height:1" > &times; </span>
            </span>
        </a>

    </div>

    </div>


    <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <div ng-repeat="node in node.nodes"
             ui-tree-node ng-include="'mobius/procedure/procedure_template.html'">
        </div>
    </div>

</div>
