<!--mobius-->
<!-- interface template -->
<!DOCTYPE html>
<div ui-tree-handle class="tree-node tree-node-content interface">
    <!-- parameter presentation-->
    <div class="tree-node-content tree-item" >
        {{ node.name || 'undefined' }}
        &nbsp;:&nbsp;
        <a class="params"
           ng-if =" node.option.name === 'none'"
           data-nodrag `ref="#"
           editable-text="node.dataValue"
           buttons="no"
           blur="submit">{{ node.dataValue || 'value' }}</a>

        <span ng-if =" node.option.name === 'slider'">
            <a data-nodrag href="#"
               editable-text="node.dataValue"
               buttons="no"
               blur="submit">{{ node.dataValue || 'value' }}
            </a>

            <input type="range"
                   class="range params"
                data-nodrag
                ng-model="node.dataValue"
                max = "{{node.max}}"
                min = "{{node.min}}"
                step="{{node.step}}">
            </input>
        </span>

        <input
            class="params"
            ng-if =" node.option.name === 'color picker'"
            data-nodrag
            ng-model="node.color"
            type="color" />

        <!--<input ng-if =" node.option.name === 'local file'"-->
               <!--data-nodrag-->
               <!--onchange="angular.element(this).scope().openFile(this,this.files)"-->
               <!--type="file" name="files[]"-->
               <!--style="line-height: normal!important;-->
                      <!--display: inline-block!important;-->
                      <!--font-size: 70%"/>-->

        <input
                class="params"
                ng-if =" node.option.name === 'local file'"
                type="file"
                data-nodrag
                fileread="node.dataValue"
                style="line-height: normal!important;
                      display: inline-block!important;
                      font-size: 70%"/>

        <a
            class="params"
            ng-if =" node.option.name === 'dropdown'"
            data-nodrag
            href="#"
            blur="submit"
            buttons="no"
            editable-select="node.dataValue"
            e-ng-options="option for option in menuOptions(node.menuOptionText)">
            {{ node.dataValue || 'value' }}
        </a>
    </div>
</div>
