<div class="code-area" >

            <!--<div ui-layout-container >-->
                <div ng-if = "currentNodeName">
                    <div class="doormat" ng-dblclick="showProcedure()">
                        <div>
                            {{currentNodeType}} {{currentNodeVersion}}
                        </div>

                        <!--<div ng-if="currentIsSubgraph">-->
                            <!--<button class="button"-->
                                    <!--id="subgraphToggle"-->
                                    <!--ng-click="subgraphToggle()">-->
                                <!--{{toggleTo}}-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>

                <div ng-if = "!currentNodeName">
                    <div class="doormat" ng-dblclick="showProcedure()">
                        <div>No Node Selected</div>
                    </div>
                </div>

                <button class="button pull-right button-action "
                        dropdown-toggle="dropdown">
                    <i class="icon-function fa-lg" title="Add Function"></i>
                    <ui-select ng-model="method.selected"
                               class="dropdown-menu"
                               on-select="newItem('Action',$select.selected)"
                               style="min-width: 130px!important;">
                        <ui-select-match placeholder="Search" ></ui-select-match>
                        <ui-select-choices
                                style="min-width: 130px!important;"
                                id="choices"
                                title = "xx"
                                refresh="info($select.search)"
                                refresh-delay="0"
                                group-by="'category'"
                                repeat="method in methods | propsFilter: {name: $select.search, category: $select.search}">
                            <span ng-bind-html="method.name| highlight: $select.search" ></span>
                        </ui-select-choices>
                    </ui-select>

                    <ul class="dropdown-menu action-dropdown narrow-menu" ng-if="toggleDropdown"
                        style="min-width: 130px!important;">
                        <li class="dropdown-submenu" ng-repeat="cate in methodList">
                            <a>{{cate.category}}</a>
                            <ul class="dropdown-menu narrow-menu" style="min-width: 130px!important;">
                                <li ng-repeat="method in cate.methods">

                                    <a ng-click="newItem('Action',{category:cate.category,
                                                                   name:method.name,
                                                                   return:method.return})">
                                        <!--<md-tooltip md-direction="left" style="z-index:9999;">-->
                                            <!--{{method.name}}-->
                                        <!--</md-tooltip>-->
                                        {{method.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </button>

                <button class="button pull-right button-control" dropdown-toggle="dropdown">
                    <i class="fa fa-retweet fa-lg"  title="Add Control"></i>

                    <ul class="dropdown-menu  narrow-menu" ng-if="toggleDropdown"
                        style="min-width: 130px!important;margin-top:px !important;">
                        <li  ng-repeat="controlType in controlTypes">
                            <a ng-click="newItem('Control',controlType)">{{controlType}}</a>
                        </li>
                    </ul>

                </button>

                <button class="button pull-right button-variable" ng-click="newItem('Data')">
                    <i class="icon-variable fa-lg" title="Add Variable"></i>
                </button>

                <button class="button pull-right button-output" ng-click="newInterface('Output')" >
                    <!--<i class="fa fa-sign-out fa-lg fa-rotate-90" title="Add Output"></i>-->
                    <span style="font-weight: 900; font-size: large" title="Add Output"> O </span>
                </button>

                <button class="button pull-right button-input" ng-click="newInterface('Input')" >
                    <!--<i class="fa fa-sign-in fa-lg fa-rotate-90" title="Add Input"></i>-->
                    <span style="font-weight: 900; font-size: large" title="Add Input" >I</span>
                </button>

                <!--<div id="argument-area">-->
                    <!--<div ui-tree id="tree-root-parameter">-->
                        <!--<div ui-tree-nodes="" ng-model="interface">-->
                            <!--<div ng-repeat="node in interface"-->
                                 <!--ui-tree-node-->
                                 <!--ng-include="'mobius/procedure/template/parameter_template.html'">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="tabArea" id="procedure-area">
                    <div ui-tree id="tree-root-parameter" data-nodrop-enabled="true" oncontextmenu="return false;">
                        <div ui-tree-nodes="" ng-model="interface">
                            <div ng-repeat="node in interface"
                                 ui-tree-node
                                 ng-include="'mobius/procedure/template/parameter_template.html'">
                            </div>
                        </div>
                    </div>


                    <div ui-tree id="tree-root-procedure" >
                        <div ui-tree-nodes="" ng-model="data">
                            <div ng-repeat="node in data"
                                 ui-tree-node
                                 ng-include="'mobius/procedure/template/procedure_template.html'"
                                 context-menu = "onshow($event)"
                                 data-target="menu-procedure">
                            </div>
                        </div>
                    </div>

                    <!--<div ng-controller="subgraphZnpController"-->
                         <!--class="znpController"-->
                         <!--style="display: none"-->
                         <!--id="subgraph-flow-chart">-->
                        <!--<panzoom config="panzoomConfig"-->
                                 <!--model="panzoomModel"-->
                                 <!--readonly="true"-->
                                 <!--class="panzoom"-->
                                 <!--id="subgraphPanZoom">-->
                            <!--<div id="canvas">-->
                                <!--<flow-chart chart="currentSubgraphChartViewModel"-->
                                            <!--readonly="true"-->
                                            <!--class = "flow-chart">-->
                                <!--</flow-chart>-->
                            <!--</div>-->
                        <!--</panzoom>-->
                    <!--</div>-->

                </div>
            <!--</div>-->

            <!--<div ui-layout-container size = "32px" class="monitor" >-->
                <!--<div class="doormat">-->
                        <!--<div> Function Code</div>-->
                <!--</div>-->

                <!--<div class="codeEditor" ui-ace="{ mode: 'javascript', theme: 'tomorrow' }"-->
                     <!--ng-model= "functionCodeList[nodeIndex]"-->
                     <!--readonly="{{true}}">-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
</div>