.graph-area .znpController{
    width:100%;
    /*height:100%;*/
    top:32px;
    bottom: 0;
    position:absolute;
}

.graph-area .panzoom{
    width:100%;
    /*height:calc(100% - 32px);*/
    height: 100%;
    bottom: 0;
    position: absolute;
}

.flow-chart{
    position: absolute;
    width:1000px;
    height: 1000px;
    overflow: hidden;
}


.graph-area #interface {
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top:1px;
    padding-bottom: 32px;
}

.graph-area #run-button{
    white-space: nowrap;
    position: absolute;
    right: 0;
    top:0;
    display: inline-block;
}

.graph-area #canvas{
    margin-top:1px;
}

.graph-area .interface{
    background-color: white;
}

.graph-area .interface .range{
    width: 55%;
    display:inline-block;
    float: right;
}


