.znpController{
    width:100%;
    /*height:100%;*/
    top:32px;
    bottom: 0;
    position:absolute;
}

.panzoom{
    width:100%;
    /*height:calc(100% - 32px);*/
    height: 100%;
    bottom: 0;
    position: absolute;
}

.flow-chart{
    position: absolute;
    width:4000px;
    height: 4000px;
    overflow: hidden;
}


#interface {
    position: absolute;
    display: block;
    background-color: #ffffff !important;
    width: 100%;
    top: 32px;
    z-index: 10;
}

.graph-area #run-button{
    white-space: nowrap;
    position: absolute;
    right: 0;
    top:0;
    display: inline-block;
}

.graph-area #canvas{
    /*margin-top:1px;*/
}

.graph-area .interface{
    background-color: #f5f5f5!important;
}

.graph-area .interface .range{
    width: 55%;
    display:inline-block;
    float: right;
}


