.menubar{
    padding-top: 2px;
    padding-bottom: 2px;
    /*background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));*/
    background-color: #eee;
    height: 32px;
}

.menubar .dropdown{
    z-index: 10001;
}
.menuTitle{
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #888;
}

#importNode, #importNodeLib, #openSceneJson{
    visibility: hidden;
    width: 1px;
    height: 1px;
}

#mobiusInfo{
    position:absolute;
    right:10px;
    top:1px;
    font-size: 12px;
    /*letter-spacing: 3px;*/
    /*font-weight: bold;*/
    color: #888;
    margin: 5px;
}

.menu{
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    height: 100%;
    margin:auto;
    position: relative;
}