.menubar{
    background-color: #eee;
    height: 32px;
}

.menubar .dropdown{
    z-index: 10001;
}
.menuTitle{
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    /*letter-spacing: 1px;*/
    color: #888;
}


#importNode, #importNodeLib, #openSceneJson{
    visibility: hidden;
    width: 1px;
    height: 1px;
}

#mobiusInfo{
    position:absolute;
    right:10px;
    top:1px;
    font-size: 12px;
    color: #888;
    margin: 5px;
}

.menu{
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    height: 100%;
    margin:auto;
    position: relative;
    transition-duration: 0.4s;
}

.menu:hover{
    background-color: white;
}

.menu:hover>.dropdown-menu{
    display:block !important;
}