body {
    font-family: Roboto,'Helvetica Neue',sans-serif;
    font-size: 14px !important;
}

a:focus{
    outline: none !important;
}

a{
    font-size: 13px !important;
}

.button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 28px;
    width: 28px !important;
    margin: 2px;
    line-height: 1;
    border-radius:0;
    border: 1px solid #ccc;
    color:#888;
    background-color: #eee;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 0 !important;
}

.button:hover{
    background-color: white;
}

.button:active{
    background-color: #ccc;
}

#layout{
    top: 32px;
    border-top:solid 1px #dddddd;
    width: 100%;
}

.tree-item{
    padding-left:20px;
}

 /*css fix for dropdown selects*/
.form-control{
    margin: 2px;
    font-size: 12px !important;
    height: 28px !important;
    padding: 6px 10px!important;
    line-height:  1.35 !important;
    border-radius: 0 !important;
}

.position-fixed {
    position: fixed;
}

/*selectize fix*/
.selectize-dropdown {
    line-height: 10px !important;
    font-size: 12px !important;;
}

.selectize-input {
    padding: 3px 3px !important;
}

.md-dialog-container{
    z-index: 10005 !important;
}

/* section title */
.doormat{
    display: inline-block;
    padding: 1px ;
    margin: 0;
    position: relative;
    font-size: 12px;
    background-color:#eeeeee;
    line-height: 1.92857143;
    height: 32px;
    width: 100%;
}

.doormat  div:nth-child(1){
    margin: 4px 10px;
    color: #888;
}
