body {
    font-family: "Open Sans" !important; // Roboto,'Helvetica Neue',sans-serif;
    font-size: 14px !important;
}

a:focus{
    outline: none !important;
}


.button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 28px;
    width: 28px !important;
    margin: 2px;
    line-height: 1;
    border-radius:0;
    border: 1px solid #ccc;
    color:#333;
    background-color: #eee;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 0 !important;
}

.button:hover{
    background-color: white;
}

.button:active{
    background-color: #ccc;
}

#layout{
    top: 32px;
    border-top:solid 1px #dddddd;
    width: 100%;
}

.tree-item{
    padding-left:20px;
}

.tree-item:hover, .tree-node-content:hover{
    border-color: #55ADF9;
}

.procedure-delete-key{
    display: none;
}

.tree-item:hover .procedure-delete-key, .tree-item.hover .procedure-delete-key { 
    display: block; 
}

.tree-node-content:hover .procedure-delete-key, .tree-node-content.hover .procedure-delete-key { 
    display: block; 
}

.monitor{
    padding-left: 16px;
    overflow-y: auto;
}


 /*css fix for dropdown selects*/
.form-control{
    margin: 2px;
    font-size: 12px !important;
    height: 28px !important;
    padding: 6px 10px!important;
    line-height:  1.35 !important;
    border-radius: 0 !important;
}

.position-fixed {
    position: fixed;
}

/*selectize fix*/
.selectize-dropdown {
    line-height: 10px !important;
    font-size: 12px !important;;
}

.selectize-input {
    padding: 3px 3px !important;
}

.md-dialog-container{
    z-index: 10005 !important;
}

/* section title */
.doormat{
    display: inline-block;
    padding: 1px ;
    margin: 0;
    position: relative;
    font-size: 12px;
    background-color:#eeeeee;
    line-height: 1.92857143;
    height: 32px;
    width: 100%;
}

.doormat  div:nth-child(1){
    margin: 4px 10px;
    color: #333;
}


.range.params{
    z-index: 10;
    width: auto;
    height: 10px;
    display: inline;
}

.section-container{
    height: 100%;
}

.tree-container{
    height: calc(100% - 32px); 
    overflow-y: auto;
}