.code-area{
    border-radius:0;
    border:0;
    overflow: auto;
    width:100%;
    margin-bottom: 2px;
}

.code-area .buttons .button-data{
    display: inline-block;
    position: absolute;
    bottom: 8px;
    width: 20%;
    left: 29.5%;
}


.code-area #tree-root-parameter{
    border-bottom:0px solid #eaeaea;
}

.params {
    left: 160px !important;
    position: absolute; !important;
}

#argument-area{
    overflow: auto;
    height: 100%;
    padding-bottom: 32px;
}

#procedure-area{
    overflow: auto;
    height: 100%;
}

#subgraphToggle{
    display: inline-block;
    position: absolute !important;
    top: 0;
    right:120px;
    white-space: nowrap;
    width: 60px !important;
}

.button-action{
    display: inline-block;
    /*position: absolute !important;
    top: 0;
    right: 120px;
    white-space: nowrap;*/
}

.button-action:hover>.dropdown-menu{
    display:block !important;
}

.button-control:hover>.dropdown-menu{
    display:block !important;
}

.button-control{
    display: inline-block;
    /*position: absolute;
    top:0;
    right: 60px;*/
}


.button-output{
    white-space: nowrap;
    position: absolute;
    right:0;
    top:0;
}

.button-input{
    /*display: inline-block;*/
    position: absolute;
    right:30px;
    top:0;
}

/*.button-variable{
    display: inline-block;
    position: absolute !important;
    top: 0;
    right:90px;
    white-space: nowrap;
}*/


.procedure-button{
    display: inline-block;
}

.code-area .codeEditor {
    position: absolute;
    height:97%;
    width:100%;
    overflow: auto;
    margin-top:1px;
}

.code-area .procedure-delete-key{
    padding: 0;
    margin: 0;
}

.code-area .procedure-delete-key > span{
    font-weight: 400;
    font-size: 16px;
    line-height:1;
}

.code-area .dropdown{
    z-index: 10001;
}

.code-area .dropdown-option{
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 0;
}

.code-area .far{
    font-weight: 900;
    font-size: 17px;
}

.control-content{
    display: inline-block;
    padding-left:23px;
}

.control-heading{
    display: inline-block;
    padding-left:3px;
}

.code-area .buttons .btn {
    margin: 0;
    font-size: 12px !important;
    height: 32px !important;
    line-height: 1 !important;
}

.code-area .control-subheading{
    margin-left: -20px;
}

 .inline{
    display: inline-block;
}

 .procedure-delete-key > span {
     position: absolute;
     border:0 !important;;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
     right: 2px;
     top:1px
}


 .action-dropdown{
     position: fixed !important;
     margin-top:34px !important;
     margin-left:-102px !important;
     top: auto  !important;
     right: auto  !important;
 }