#typeManager {
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,1.0);
    position: fixed;
    top:0;left:0;
    display: none;
    z-index:10002
}

#nodeTypeList{
    height: 95%;
}


#typeManager pre span {
    /*padding-left:17px;*/
}

.doormat > input{
    position:absolute;
    right:19px;
    display: inline-block;
    top:5px
}

#tree-root-nodeType{
    overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 5%;
    top:28px;
}

#typeManage_buttons{
    position: absolute;
    width: 100%;
    bottom:0;
    height:5%;
    padding: 5px;
}

#typeManage_buttons  button:nth-child(1){
    position: absolute;
    left: 5%;
}

#typeManage_buttons  button:nth-child(2){
    position: absolute;
     left: 27%
}

#typeManage_buttons  button:nth-child(3){
    position: absolute;
    left: 49%
}

#typeManage_buttons  button:nth-child(4){
    position: absolute;
    left: 77%
}

#typeManager #tree-root-procedure-type{
    overflow: auto;
    height:100%
}

#typeManager #tree-root-parameter-type{
    overflow: auto;
    height:100%
}


#menu-typeManager{
    z-index: 10010;
}


