#typeManager {
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,1.0);
    position: fixed;
    top:0;left:0;
    display: none;
    z-index:10002
}

#nodeTypeList{
    height: 100%;
}

.doormat > input{
    position:absolute;
    left:12px;
    display: inline-block;
    top:5px
}

#tree-root-nodeType{
    overflow: auto;
    position: absolute;
    width: 100%;
    top:32px;
    bottom: 0;
}


#typeManage_buttons button{
    top: -1px;
    display: inline-block;
    white-space: nowrap;
    position: absolute !important;
}

#typeManage_buttons  button:nth-child(1){
    right: 90px;
}

#typeManage_buttons  button:nth-child(2){
    right: 60px
}

#typeManage_buttons  button:nth-child(3){
    right:30px
}

#typeManage_buttons  button:nth-child(4){
    right: 0
}

#typeManager #tree-root-procedure-type{
    overflow: auto;
    height:100%
}

#typeManager #tree-root-parameter-type{
    overflow: auto;
    height:100%
}


#menu-typeManager{
    z-index: 10010;
}


