#typeManager {
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.36);
    position: fixed;
    top:0;left:0;
    display: none;
    z-index:10002
}

#nodeTypeList{
    height: 100%;
}

.doormat > input{
    position:absolute;
    left:12px;
    display: inline-block;
    top:5px
}

#tree-root-nodeType{
    background-color: white;
    overflow: auto;
    position: absolute;
    width: 100%;
    top:32px;
    bottom: 0;
}


#typeManage_buttons button{
    top: -1px;
    display: inline-block;
    white-space: nowrap;
    position: absolute !important;
}

#typeManage_buttons  button:nth-child(1){
    right: 60px

}

#typeManage_buttons  button:nth-child(2){
    right:30px

}

#typeManage_buttons  button:nth-child(3){
    right: 0
}

#typeManage_buttons  button:nth-child(4){
    right: 0
}

#typeManager #tree-root-procedure-type{
    background-color: white;
    overflow: auto;
    height:100%;
    padding-bottom: 32px;
}

#typeManager #tree-root-parameter-type{
    background-color: white;
    overflow: auto;
    height:100%;
    padding-bottom: 32px;
}

#menu-typeManager{
    z-index: 10010;
}

.node-library-close{
    position: fixed;
    top: -5px;
    right: 0px;
    font-size: 2em;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
}

.node-library-close:hover {
    color: #eeeeee;
    cursor: pointer;
}


