/***************************************************************
CSS For index.html
***************************************************************/

body {
    font-family: Arial, sans-serif;
    font-size: 14px !important;
}

a{
    color: #000000 !important;
}


@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a{
        padding: 3px;
    }
}

.btn-xs, .btn-group-xs {
    font-size: 12px !important;
    margin: 3px;
}

/**************************
 menu bar
 **************************/

.menubar{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: #eee;
}

.dropdown{
    z-index: 100000;
}

.dropdown-menu {
    font-size: 13px !important;
}

/**************************
 left pane graph area
 **************************/

.graph-area{
    border-top: 1px solid #aaaaaa;
    /*border-right: 1px solid #aaaaaa;*/
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;

    border-radius: 3px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right:30px;
}
.graph-area .znpController{
    width:100%;
    height:95%;
    position:relative;
}

.graph-area .panzoom{
    width:100%;
    height:1100px;
}

.graph-area .flow-chart{
    position: absolute;
    width:4000px;
    height: 4000px
}

.graph-area .buttons{
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.graph-area .dropdownButton {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px !important;
    position: relative;
    width: 22px;
}

.new-node{
    width:90px;
    display: inline-block;
}

/**************************
 middle pane 3D area
 **************************/

.view-area{
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;

    margin-bottom: 2px;
}
.view-area #threeViewport {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.view-area .tabArea{
    position: relative;
    left: 9px;
    height: 100%;
    width: 100%;
}

/*todo temp fix */
.view-area  .monitor .stretch{
    top: 0px;
}


.view-area .monitor .ui-layout-column .ui-splitbar{
    border:0px;
}

.view-area .monitor .console{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    font-size: 12px;
    height: 100%;
    width:100%;
    overflow: auto;
    position: absolute;
}

.view-area #clear{
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.graph-area .codeEditor{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.info-title {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    width: 100%;
    background-color: #eee ;
}


/*************************
right pane code area
*************************/
.code-area{
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;

    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;

    overflow: auto;
    width:100%;
    margin-bottom: 2px;
}
.code-area .nodeName{
    padding: 4px;
    margin: 0;
    position: relative;
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.code-area .buttons{
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.code-area .codeEditor {
    position: absolute;
    height:97%;
    width:100%;
    overflow: auto;
}

.code-area .tabArea{
    /*position: absolute;*/
    /*right: 0;*/
    /*width: 100%;*/
    /*fixme css3*/
    height:  calc(100% - 100px);
    overflow: auto;
}

.code-area .nodeName{
    border:0px;
}

.code-area .subheading{
    font-weight: 400;
}

.angular-ui-tree-placeholder {

}

/*hack for bootstrap*/
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.panel-default > .panel-heading {
    padding: 6px;
}

.panel-title{
    font-size: 13px !important;
}

.panel-group {
    margin-top: 1px;
    margin-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 1px;
}

.panel{
    border-left: 2px solid #aaaaaa !important;
}



/*.btn {*/
    /*padding: 0 4px 0 4px!important;*/
    /*margin: 0px;*/
    /*font-size: 12px !important;*/
    /*height: 24px !important;*/
    /*line-height: 1 !important;*/
/*}*/

