/* css For mobius.html */

body {
    font-family: Arial, sans-serif;
    font-size: 14px !important;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a{
        padding: 3px;
    }
}

.btn-xs, .btn-group-xs {
    font-size: 12px !important;
    margin: 3px;
}

/**************************
 menu bar
 **************************/

.menubar{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
   background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));
}

.dropdown{
    z-index: 75;
}

.dropdown-menu {
    font-size: 12px !important;
    cursor: pointer;
}

/**************************
 left pane graph area
 **************************/

.graph-area{
    /*border-top: 1px solid #aaaaaa;*/
    /*border-left: 1px solid #aaaaaa;*/
    border-radius: 3px;
}
.graph-area .znpController{
    width:100%;
    height:95%;
    position:relative;
}

.graph-area .panzoom{
    width:100%;
    height:1100px;
}

.graph-area .flow-chart{
    position: absolute;
    width:4000px;
    height: 4000px
}

.graph-area .buttons{
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.graph-area .codeEditor{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/**************************
 middle pane 3D area
 **************************/

.view-area{
}
.view-area #threeViewport {
    padding: 0;
    margin: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.view-area #topoViewport {
    /*padding: 0;*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    height:0;
    width:0;
}

.view-area .tabArea{
    position: relative;
    left: 9px;
    height: 100%;
    width: 100%;
}

/*todo temp fix */
.view-area  .monitor .stretch{
    top: 0px;
}

.view-area .monitor .ui-layout-column .ui-splitbar{
    border:0px;
}

.view-area .monitor .console{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;
    font-size: 12px;
    height: 100%;
    width:100%;
    overflow: auto;
    position: absolute;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top:1px
}

.view-area #clear{
    position: absolute;
    right: 5px;
    cursor: pointer;
}


.info-title {
    font-size: 13px;
    padding-top: 0;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    width: 100%;
    background-color: #eee ;
}


/*************************
right pane code area
*************************/
.code-area{
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;

    border:0;
    overflow: auto;
    width:100%;
    margin-bottom: 2px;
}

.nodeName{
    white-space: nowrap;:
    padding: 4px;
    margin: 0;
    position: relative;
    border-radius: 3px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));
    line-height: 1.92857143;
}

.code-area .buttons{
    position: absolute;
    bottom: 8px;
    margin-bottom:-8px ;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 4px;
}

.code-area .buttons #button-parameter{
    display: inline-block;
    width:20%;
    left:8%;
    position:absolute;
    bottom:8px;
}

.code-area .buttons .button-data{
    display: inline-block;
    position: absolute;
    bottom: 8px;
    width: 20%;
    left: 29.5%;
}


.btn {
    margin: 0;
    font-size: 12px !important;
    height: 24px !important;
    line-height: 1 !important;
}

.button-action{
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 44%;
    white-space: nowrap;
    width:68px;
}

 .button-control{
    display: inline-block;
    position: absolute;
    top: 2px;
    right:28%;
     white-space: nowrap;
     width:68px;

 }

.button-output{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right:2%;
    top:2px;
}

.button-input{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right:2%;
    top:2px;

}


.button-variable{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right:14%;
    top:2px;
}

.code-area .codeEditor {
    position: absolute;
    height:97%;
    width:100%;
    overflow: auto;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 4px;
    margin-top:1px;
}

.code-area .tabArea{
    position: absolute;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-radius: 4px;
    margin-top:1px;
    /*fixme css3*/
    height:  calc(100% - 27px);
    overflow: auto;
}


/*  hack for bootstrap
    fixme forget what these things really do
*/
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.panel-default > .panel-heading {
    padding: 6px;
}

.panel-title{
    font-size: 13px !important;
}

.panel-group {
    margin-top: 1px;
    margin-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 1px;
}

.panel{
    border-left: 2px solid #aaaaaa !important;
}



/* css fix for dropdown selects*/
.form-control{
    margin: 0;
    font-size: 12px !important;
    height: 24px !important;
    line-height: 1 !important;
}

.code-area .buttons .btn {
    margin: 0;
    font-size: 12px !important;
    height: 24px !important;
    line-height: 1 !important;
}

/* test for dropdown submenu*/

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top: -6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;}

.dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;}

.dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;}

.dropdown-submenu.pull-left{
    float:none;}

.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.ui-select-bootstrap .ui-select-toggle>.caret {
display: none;
}

.position-fixed {
    position: fixed;
}

/*selectize */

.selectize-dropdown {
    line-height: 10px !important;
    font-size: 12px !important;;
}

.selectize-input {
    padding: 3px 3px !important;;
}