<!--vidamo-->
<!-- procedure template -->

<div ui-tree-handle class="tree-node tree-node-content">

    <!--data name and value for data -->
    <!--<span ng-if="node.nodes && node.nodes.length > 0-->
         <!--|| node.nodes && node.nodes.length == 0"-->
         <!--data-nodrag-->
         <!--ng-click="toggle(this)" style="display:inline-block">-->
        <!--<i class="glyphicon"-->
             <!--ng-class="{'glyphicon-chevron-right': !status.open,-->
                        <!--'glyphicon-chevron-down': status.open}">-->
        <!--</i>-->
    <!--</span>-->


    <div ng-if="node.title == 'Data'" style="padding-left:20px " class="tree-node-content">

        <a>
            <a href="#" data-nodrag editable-text="node.dataName" buttons="no">{{ node.dataName || 'name' }}</a>
            =
            <a data-nodrag href="#" editable-text="node.dataValue" buttons="no">{{ node.dataValue || 'value' }}</a>
        </a>

        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
                <span class="glyphicon glyphicon-remove">
                </span>
        </a>

    </div>

    <div ng-if="node.title == 'Action'" style="padding-left:20px " class="tree-node-content">
        {{node.title}}

        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
                <span class="glyphicon glyphicon-remove">
                </span>
        </a>



    </div>

    <div ng-if="node.title == 'Control'" style="padding-left:20px " class="tree-node-content">
        {{node.title}}
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
                <span class="glyphicon glyphicon-remove">
                </span>
        </a>

    </div>

    <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <div ng-repeat="node in node.nodes"
             ui-tree-node ng-include="'vidamo/template/procedure.html'">
        </div>
    </div>

</div>

