/***************************************************************

CSS For ui-flowchart [left pane graph area]

***************************************************************/

/*Styles for nodes and connectors flowchart svg template*/

.node-rect {
	stroke: #aaaaaa;
	stroke-width: 1;
	border-radius: 0 !important;
	cursor: default !important;
}

.mouseover-node-rect {
	stroke: #777777;
	stroke-width: 1;
	cursor: default !important;
}

.selected-node-rect {
    fill:white;
	stroke: #3F98F3;
	stroke-width: 1;
	cursor: default !important;
}

.disabled-node-rect {
	fill:#cccccc;
	stroke: #aaaaaa;
	border-radius: 0 !important;
	stroke-width: 1;
	cursor: default !important;
}

.mouseover-disabled-node-rect {
	fill:#cccccc;
	stroke: #777777;
	stroke-width: 1;
	border-radius: 0 !important;
	cursor: default !important;
}

.selected-disabled-node-rect {
	fill:#cccccc;
	stroke: #3F98F3;
	stroke-width: 1;
	border-radius: 0 !important;
	cursor: default !important;
}

.connector-circle {
    fill: white;
    stroke: #777777;
    stroke-width: 1;
	cursor: default !important;
}

.func-connector-circle {
	fill: white;
	stroke: #777777;
	stroke-width: 1;
	stroke-dasharray:5,1;
	cursor: default !important;
}

.mouseover-func-connector-circle {
	fill: white;
	stroke: #777777;
	stroke-width: 2;
	stroke-dasharray:5,1;
	cursor: default !important;
}

.selected-func-connector-circle {
	fill: white;
	stroke: red;
	stroke-width: 1;
	stroke-dasharray:5,1;
	cursor: default !important;
}


.mouseover-connector-circle {
	 fill: white;
	 stroke: #777777;
	 stroke-width: 2;
	cursor: default !important;
 }
.connector-text{
	visibility: hidden;
	font-size: 8px;
	font-weight: 300;
	cursor: default !important;
}
.connector:hover > .connector-text {
	visibility: visible;
	font-size: 8px;
	font-weight: 300;
	cursor: default !important;
}


.selected-connector-circle {
	fill: white;
	stroke: red;
	stroke-width: 1;
	cursor: default !important;
}


/*
Style for connections.
*/

.connection {
	cursor: default !important;
}

.connection-line {
	stroke: #555555;
	stroke-width: 1;
	fill: transparent;
	cursor: default !important;
}

.func-connection-line {
	stroke: #555555;
	stroke-width: 1;
	fill: transparent;
	stroke-dasharray:3,1;
	cursor: default !important;
}

.mouseover-connection-line {
	stroke: gray;
	stroke-width: 2;
	fill: transparent;
	cursor: default !important;
}

.mouseover-func-connection-line {
	stroke: gray;
	stroke-width: 2;
	fill: transparent;
	stroke-dasharray:3,1;
	cursor: default !important;
}

.selected-connection-line {
	stroke: red;
	stroke-width: 2;
	fill: transparent;
	cursor: default !important;
}

.selected-func-connection-line {
	stroke: red;
	stroke-width: 2;
	fill: transparent;
	stroke-dasharray:3,1;
	cursor: default !important;
}

.connection-endpoint {
	fill: #555555;
	cursor: default !important;
}

.selected-connection-endpoint {
	fill: red;
	cursor: default !important;
}	

.mouseover-connection-endpoint {
	fill: gray;
	cursor: default !important;
}

/*
Style for the connection being dragged out.
*/

.dragging-connection {
	pointer-events: none;
	cursor: default !important;
}

.dragging-connection-line {
	stroke: gray;
	stroke-width: 2;
	fill: transparent;
	cursor: default !important;
}	

.dragging-connection-endpoint {
	fill: gray;
	cursor: default !important;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
	border: solid 5px #aaaaaa;
	border-radius: 0 !important;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: #aaa;
	stroke-width: 0.7;
	stroke-dasharray:3,3;
	fill: transparent;
	border-radius: 0 !important;
	cursor: default !important;
}

/*canvas background*/
.background{
	stroke-width:1;
	stroke:black;
	fill:url(#dots-4-11);
	overflow: hidden;
}

#node-creator{
	width:180px;
	cursor: default !important;
}