<!--vidamo-->
<!-- parameter template -->

<div ui-tree-handle class="tree-node tree-node-content">

    <!--data procedure-->
    <div style="padding-left:20px " class="tree-node-content">
        <!--vairable name-->
        <a>
            <a href="#" data-nodrag editable-text="node.dataName" buttons="no">{{ node.dataName || 'name' }}</a>
            =
            <a data-nodrag href="#" editable-text="node.dataValue" buttons="no">{{ node.dataValue || 'value' }}</a>
        </a>

        <!--delete key-->
        <a class="pull-right btn btn-xs" data-nodrag ng-click="remove(this)" style="padding: 0;margin: 0" >
            <span style="font-weight: 400; font-size: 16px;line-height:1" > &times; </span>
        </a>

        <div ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"
                 ui-tree-node ng-include="'vidamo/procedure/parameter_template.html'">
            </div>
        </div>

    </div>

</div>

