<!-- graph header & breadcrumbs-->
<div class="doormat" ng-dblclick="showGraph()">
        <div style="display: inline-block; cursor: zoom-out;" ng-click="goRoot()"> Graph </div>

        <span ng-repeat="graph in graphList"
              style="padding: 0 5px;
                    cursor: default"
              ng-click="changeGraphView($index)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            &nbsp;
            <a>{{graph.name}}</a>
        </span>

        <!-- zoom extents for graph -->
        <button class="button"
                ng-click="extendCanvas()"
                style="outline: none!important; float:right;"
                title="Extend Canvas">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </button>
</div>



<div ng-show="chartViewModel.data.nodes.length==0" style="z-index: 10; margin: 10px 30px; z-index: 10;">
        Oops... Looks like there is no file loaded. <br> Double click to create a node or load an example from the file menu.
</div>

<div ng-controller="znpController" class="znpController">
    <panzoom config="panzoomConfig"
             model="panzoomModel"
             class="panzoom"
             id="PanZoom">
        <div id="canvas">
            <flow-chart chart="chartViewModel" class="flow-chart">
            </flow-chart>
        </div>
    </panzoom>
</div>